// sass-lint:disable no-vendor-prefixes, no-css-comments

// Form defaults
//
// These are the default base styles applied to HTML form elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML form element, these styles will be the ones displayed.
//
// Weight: -1
//
// Style guide: forms.base

//
// The following rules are from normalize.css and help to fix inconsistencies
// across various browsers. You should probably leave these rules as is and jump
// to the "Buttons" rule on line 92 before you start editing this file.
//

button,
input,
optgroup,
select,
textarea {
  // Keep form elements constrained in their containers.
  box-sizing: border-box;
  max-width: 100%;
  // Change font properties to `inherit` in all browsers (opinionated).
  font: inherit;
  // Remove the margin in Firefox and Safari.
  margin: 0;
  @if support-for(ie, 7) {
    // Address `font-family` inconsistency between `textarea` and other form in IE 7
    @include typeface(body);
    // Improve appearance and consistency with IE 6/7.
    vertical-align: middle;
  }
}

// Show the overflow in IE.
button {
  overflow: visible;
	background-color: #ffdb00;
	text-transform: uppercase;
	color: #002d72;
	border-radius: 30px;
	font-size: 20px;
	padding: 15px 100px;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
button {
  text-transform: uppercase;
}
button:focus { outline: 0; }

// Show the overflow in Edge.
input {
  overflow: visible;
  @if support-for(firefox, 29) {
    // Firefox sets `line-height` using `!important` in the UA stylesheet.
    line-height: normal;
  }
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  // Correct the odd appearance in Chrome and Safari.
  -webkit-appearance: textfield;
  // Correct the outline style in Safari.
  outline-offset: -2px;

  // Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

// Correct the text style of placeholders in Chrome, Edge, and Safari.
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  // Correct the inability to style clickable types in iOS and Safari.
  -webkit-appearance: button;
  // Change font properties to `inherit` in Safari.
  font: inherit;
}

// Buttons
//
// Buttons built with the `<button>` element are the most flexible for styling
// purposes. But `<input>` elements with `type` set to `submit`, `image`,
// `reset`, or `button` are also supported.
//
// Below is the default button styling. To see variations on the button styling
// see the [button component](section-forms.html#kssref-forms-button).
//
// :hover        - Hover styling.
// :active:hover - Depressed button styling.
//
// Markup: forms-button.twig
//
// Style guide: forms.base.button

@import 'forms/button/button';

// The %text-form-element can be used to style `<input>` text types and
// `<textarea>` elements at the same time.
%text-form-element {
  // Add your styles.
	border: 0px;
	border-radius: 8px;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
}

// Inputs
//
// The `<input>` element is mostly used for text-based inputs that include the
// HTML5 types: `text`, `search`, `tel`, `url`, `email`, `password`, `date`,
// `time`, `number`, `range`, `color`, and `file`.
//
// Markup: forms-input.twig
//
// Style guide: forms.base.input

[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='date'],
[type='time'],
[type='number'] {
  @extend %text-form-element !optional;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	font-size: 15px;
	color: #5d5d5d;
	padding: 10px 20px;
}

[type='password'] {
  @extend %text-form-element !optional;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	font-size: 15px;
	color: #5d5d5d;
	background-image: url('../images/form-password-icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 10px 20px 10px 40px;
}

input#edit-name,
input#edit-name--1, 
input#edit-name--2 {
	background-image: url('../images/form-username-icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 10px 20px 10px 40px;
}

[type='email'], #edit-mail {
	@extend %text-form-element !optional;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
	font-size: 15px;
	color: #5d5d5d;
	background-image: url('../images/form-email-icon.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px 45px 10px 15px;
}

input:focus {
	outline: none;
}


[type='range'] {
  // Add your styles.
}

[type='color'] {
	color: #5d5d5d;
  // Add your styles.
}

[type='file'] {
  // Add your styles.
}

// Checkboxes
//
// If an `<input>` element has the `type='checkbox'` attribute set, the form
// field is displayed as a checkbox.
//
// It's recommended that you don't attempt to style these elements. Firefox's
// implementation doesn't respect `box-sizing`, `padding`, or `width`.
//
// Markup: forms-input-checkbox.twig
//
// Style guide: forms.base.input-checkbox

// Radio buttons
//
// If an `<input>` element has the `type='radio'` attribute set, the form field
// is displayed as a radio button.
//
// It's recommended that you don't attempt to style these elements. Firefox's
// implementation doesn't respect `box-sizing`, `padding`, or `width`.
//
// Markup: forms-input-radio.twig
//
// Style guide: forms.base.input-radio

[type='checkbox'] {
	display: none;
}

[type='checkbox'] + label {
	 // Add the correct box sizing in IE <11.
  box-sizing: border-box;
  // Remove the padding in IE <11.
	background: url(../../../../../sites/default/files/checkbox-off.png);
    background-repeat: no-repeat;
    min-height: 22px;
    width: 100%;
	padding: 0 0 0 32px;
    display: inline-block;
	min-width: 28px;
  }
[type='checkbox'] + label:hover {
	text-decoration: underline;
}
  @if support-for(ie, 7) {
    // Remove excess padding in IE 7.
    // Known issue: excess padding remains in IE 6.
    // *height: 13px;
    // *width: 13px;
}
[type='checkbox']:checked + label {
	background: url(../../../../../sites/default/files/checkbox-on.png);
    background-repeat: no-repeat;
    min-height: 22px;
    width: 100%;
    display: inline-block;
	padding: 0 0 0 32px;
	min-width: 28px;
}

[type='checkbox']:checked + label:hover {
	text-decoration: underline;
}

.form-type-checkbox label { display: none; }

[type='radio'] {
	
}
// Fieldsets
//
// The `<fieldset>` element groups a set of form fields, optionally under a
// common name given by the `<legend>` element.
//
// Markup: forms-fieldset.twig
//
// Style guide: forms.base.fieldset

fieldset {
  // Change the border, margin, and padding in all browsers (opinionated).
  @include padding(.35 .625 .65);
  border: none;
  margin: 0 2px;
}

legend {
  // Correct the text wrapping in Edge and IE.
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  // Correct the color inheritance from `fieldset` elements in IE.
  color: inherit;
  // Align legend text with a fieldset's text while removing left padding so
  // people aren't caught out if they zero out fieldset padding.
  margin-left: -5px;
  padding: 0 15px 0 0;
  @if support-for(ie, 7) {
    // Correct alignment displayed oddly in IE 6/7.
    // *margin-left: -7px;
  }
}

// Labels
//
// The `<label>` element represents a caption of a form field. The label can be
// associated with a specific form control by using the `for` attribute or by
// putting the form control inside the label element itself.
//
// Markup: forms-label.twig
//
// Style guide: forms.base.label

label {
  // Drupal-style form labels.
  display: block;
  font-weight: bold;
}

.field-type-list-boolean label.option {
	text-indent:-999px;
	float: left;
	width: 28px;
}

#edit-field-i-would-like-to-receive-em .form-type-checkbox .description {
	float: left;
	width: 80%;
	margin-left:3%;
}

// Select list
//
// The `<select>` element represents a form field for selecting amongst a set of
// options.
//
// Known limitation: by default, Chrome and Safari on OS X allow very limited
// styling of `<select>`, unless a `border` property is set.
//
// Markup: forms-select.twig
//
// Style guide: forms.base.select

select {
  // Add your styles.
	border-radius: 8px;
	border: 0;
	background-color: white;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
	font-size: 15px;
	color: #5d5d5d;
	/*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
	background-image: url('../../../../../sites/default/files/search-arrow-open.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
	padding: 10px;
	
	option:first-child {
		color: #6b6b6b;
	}
	option {
		line-height: 1.5rem;
	}
}
/*Hiding the select arrow for IE10*/
select::-ms-expand {
    display: none;
}

optgroup {
  // Restore the font weight unset by a previous rule.
  font-weight: bold;
	border-radius: 8px;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
}

// Text areas
//
// The `<textarea>` element represents a multi-line plain text form field.
//
// Markup: forms-textarea.twig
//
// Style guide: forms.base.textarea

textarea {
  @extend %text-form-element !optional;
  // Remove the default vertical scrollbar in IE.
  overflow: auto;
	border-radius: 8px;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.24);
	width: 100%;
	padding: 32px;
	min-height: 240px;
}



/************* SORT BY STYLED BUTTON FOR RECIPE PAGE FILTERING/SORTING  ******************/
@media screen and (min-width: 921px){
	.views-widget-sort-by {
		width: 100%;

		label {
			/*display: none;*/
			bottom: 9px;
    		color: #6b6b6b;
    		display: block;
    		float: left;
    		font-size: 15px;
    		font-weight: 100;
    		overflow: hidden;
    		position: absolute;
    		right: 25%;
		}
		select {
			width: 23.6%;
			float: right;
			margin-top: 35px;
		}
	}
}

@media screen and (max-width: 920px){
	.views-widget-sort-by {
		width: 100%;

		label {
			/*display: none;*/
    		color: #6b6b6b;
    		display: block;
    		float: left;
    		font-size: 20px;
    		font-weight: 100;
    		overflow: hidden;
			margin-top: 65px;
			margin-bottom: 10px;
		}
		select {
			width: 100%;
			float: right;
			margin-top: 0;
		}
	}
}

#edit-combine-wrapper {
	
	input:focus {
    	outline:none;
		
	}
}



/********* User Login Block *************************/
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 1000 !important;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal-container {
	background: #fff5dd;
	display: block;
	overflow: hidden;
	max-width: 800px !important;

	.cd-switcher {
		margin-left: 0px;
		margin-top: 0px;
		background-color: transparent;
		padding-left: 0px;
	}
	.cd-switcher:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.cd-switcher li {
	  width: 50%;
	  float: left;
	  text-align: center;
		list-style: none;
	}
	.cd-switcher li:first-child a {
	  border-radius: .25em 0 0 0;
	}
	.cd-switcher li:last-child a {
	  border-radius: 0 .25em 0 0;
	}
	.cd-switcher a {
	  display: block;
	  width: 100%;
	  height: 50px;
	  line-height: 50px;
	  background: #fff5dd;
	  color: #5d5d5d;
		text-decoration: none;
		border-bottom: 1px solid #ddd;
	}
	.cd-switcher:first-child a.selected {
	  background: #fff5dd;
	  color: #5d5d5d;
		border-bottom: 1px solid #fff5dd;
	}
	
	.cd-switcher:first-child a {
		border-right: 1px solid #ddd;
	}
	
	.cd-switcher:last-child a.selected {
	  background: #fff5dd;
	  color: #5d5d5d;
		border-bottom: 1px solid #fff5dd;
	}
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
	margin: 0 20px;
}


/************ START Login Desktop *************/
@media screen and (min-width: 540px) {
	#cd-login,
	#cd-signup {
		#block-block-22,
		#block-block-25 {
			text-align: center;
			margin-bottom: 10px;
			margin: 0 10%;

			p {
				border-bottom: 1px solid #9c9c9c;
				padding-bottom: 10px;
			}
		}
		#block-block-23,
		#block-block-24 {
			float: left;
			width: 48%;
			margin-bottom: 20px;
			
			h2 {
				margin: 5px 0;
				font-size: 3rem;
				color: #002d72;
				text-align: center;
			}
			
			p {
				text-align: center;
				margin: 5px 0;
			}

			.yellowbutton {
				background-color: #ffdb00;
				border-radius: 20px;
				padding: 8px 20px;
				
				
				a {
					font-size: .8rem;
					margin: 0;
					padding: 0;
				}

			}
			.yellowbutton:hover {
				background-color: #ffe973;
			}
			
		}

		#block-user-login,
		#block-formblock-user-register {
			float: right;
			width: 48%;
			border-left: 1px solid #5d5d5d;
			padding-left: 4%;
			margin: 20px 0;

			input.form-submit {
				background-color: #ffdb00;
				font-size: .8rem;
				border-radius: 20px;
				padding: 8px 20px;
				max-width: 100%;
				margin: 20px 0 0 0;
				white-space: normal;
				max-width: 100%;
			}
			
			input.form-submit:hover {
			background-color: #ffe973;
			}
			
			#user-register-form {
				background-color: transparent;
				padding: 0;
			}
			
			.form-type-textfield {
				padding-top: 0;
			}
			
			#user-register-form {
				margin-bottom: 0;
			}
		}
	}
	
	input {
		width: 100%;
	}
	
	.form-item.form-type-password {
		margin-bottom: 5px;
	}
			
	#user-login-form .item-list li.first {
		display: none;
	}
			
	#user-login-form .item-list ul {
		padding: 0;
		margin: 0;
	}
			
	#user-login-form .item-list li {
		list-style: none;
		margin-bottom: 25px;
	}
	
	#user-login-form .item-list li a {
		text-decoration: none;
		color: #5d5d5d;
		font-size: .8rem;
	}
}
/************ END Login Desktop *************/




/************ START Login Mobile *************/
@media screen and (max-width: 539px) {
	#cd-login,
	#cd-signup {
		#block-block-22,
		#block-block-25 {
			text-align: center;
			margin-bottom: 10px;
			margin: 0 10%;

			p {
				border-bottom: 1px solid #9c9c9c;
				padding-bottom: 10px;
			}
		}
		#block-block-23,
		#block-block-24 {
			float: left;
			width: 80%;
			margin: 0 10% 20px 10%;
			
			h2 {
				margin: 5px 0;
				font-size: 3rem;
				color: #002d72;
				text-align: center;
			}
			
			p {
				text-align: center;
				margin: 5px 0;
			}

			.yellowbutton {
				background-color: #ffdb00;
				border-radius: 20px;
				padding: 8px 20px;
				
				
				a {
					font-size: .8rem;
					margin: 0;
					padding: 0;
				}

			}
			.yellowbutton:hover {
				background-color: #ffe973;
			}
		}

		#block-user-login,
		#block-formblock-user-register {
			float: left;
			width: 80%;
			margin: 0 10% 20px 10%;
			border-top: 1px solid #ddd;

			input.form-submit {
				background-color: #ffdb00;
				font-size: 1rem;
				border-radius: 20px;
				padding: 8px 20px;
				margin: 20px 0;
				white-space: normal;
				max-width: 100%;
			}
			
			input.form-submit:hover {
			background-color: #ffe973;
			}
			
			#user-register-form {
				background-color: transparent;
				padding: 0;
				margin-bottom: 20px;
			}
		}
	}
	
	input {
		width: 100%;
	}
	
	.form-item.form-type-password {
		margin-bottom: 5px;
	}
			
	#user-login-form .item-list li.first {
		display: none;
	}
			
	#user-login-form .item-list ul {
		padding: 0;
		margin: 0;
	}
			
	#user-login-form .item-list li {
		list-style: none;
		margin-bottom: 25px;
	}
	
	#user-login-form .item-list li a {
		text-decoration: none;
		color: #5d5d5d;
		font-size: .8rem;
	}
}
/************ END Login Mobile *************/



#user-pass,
#user-register-form,
#user-login {
	margin-bottom: 150px;
	background-color: #ffffff;
	padding: 15px;
	border-radius: 0 8px 8px 8px;
	display: block;
	overflow: hidden;
	
	.form-type-textfield {
		margin-top: 0px;
		padding-top: 20px;
	}
	
	input#edit-name,
	input#edit-pass,
	input#edit-field-full-name-und-0-value,
	input#edit-mail {
		border: 1px solid #ddd;
	}
}

.option {
	cursor: pointer;
}


#user-pass-reset {
	margin-bottom: 150px;
}

#edit-redirect {
	display: none;
}

.form-item__required, .form-required { margin-left:-4px }

/**** HIDE DOUBLE MESSAGE ON THE RESET EMAIL PAGE *******/
.node-228 P { display: none; }