@charset "UTF-8";
/* CSS Document */

#block-md-megamenu-1 > .block__title,
#block-md-megamenu-2 > .block__title,
#block-md-megamenu-3 > .block__title {
	display: none;
}

#md-megamenu-1 li.awemenu-item-level-1 > a,
#md-megamenu-2 li.awemenu-item-level-1 > a,
#md-megamenu-3 li.awemenu-item-level-1 > a {
	text-decoration: none;
	padding: 10px 17.5px;;
	font-weight: bold;
	color: #002d72;
	display: block;
	font-size: 20px;
}

#md-megamenu-1 li.awemenu-item-level-1 > a:hover,
#md-megamenu-2 li.awemenu-item-level-1 > a:hover,
#md-megamenu-3 li.awemenu-item-level-1 > a:hover {
	text-decoration: none !important;
	padding: 10px 17.5px;
	border-bottom: 5px solid #002d72;
	font-weight: bold !important;
	color: #002d72;
	display: block;
	font-size: 20px;
}

#md-megamenu-2 .awemenu-submenu li.menu__item a {
color: #5d5d5d !important;
font-weight: 400 !important;
text-decoration:none !important;
}

#md-megamenu-2 .awemenu-submenu li.menu__item a:hover {
color: #5d5d5d !important;
font-weight: 600 !important;
text-decoration:none !important;
}

#md-megamenu-2 .awemenu-submenu a:active,
#md-megamenu-2 .awemenu-submenu a.active {
color: #5d5d5d !important;
font-weight: 400 !important;
text-decoration:none !important;
}

#md-megamenu-2 .awemenu-submenu a:hover {
color: #5d5d5d !important;
font-weight: 600 !important;
text-decoration: underline !important;
}

#md-megamenu-2 .awemenu-submenu #block-block-5 a:hover {
color: white;
font-weight: bold;
text-decoration:underline;
}

.md-megamenu { width: 100%; }

.awemenu-container {
	margin: 0 auto;
}

ul.awemenu { 
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
	}

.float-l, .awemenu-nav.awemenu-has-logo .awemenu-logo, .awemenu-standard .awemenu > .awemenu-item, .awemenu-top .awemenu > .awemenu-item, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-left.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-nav.awemenu-has-logo.awemenu-outleft .awemenu, .awemenu-left .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-outleft .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-right .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-outright .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-bottom .awemenu > .awemenu-item, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow {
	float: none;
	display: inline-block;
}


.awemenu-nav .awemenu-megamenu-wrapper {
	background-color: rgba(255,255,255,.9);
	border-radius: 0 0 10px 10px;
}

.nav-menu__item, .menu__item {
	list-style-image: none;
	list-style-type: none;
	text-align: left;
}

.awemenu-nav .awemenu-megamenu-wrapper ul li {
	margin-left: 0px;
	padding-left: 35px;
	font-size: 20px;
	line-height: 1.2em;
}

.awemenu-nav .awemenu-megamenu-wrapper ul {
	padding-bottom: 20px;
}

.awemenu-nav .awemenu-megamenu-wrapper {
	padding: 0px;
}

.awemenu-nav .awemenu-megamenu-wrapper h1, 
.awemenu-nav .awemenu-megamenu-wrapper h2, 
.awemenu-nav .awemenu-megamenu-wrapper h3, 
.awemenu-nav .awemenu-megamenu-wrapper h4, 
.awemenu-nav .awemenu-megamenu-wrapper h5, 
.awemenu-nav .awemenu-megamenu-wrapper h6 {
	color: #002d72;
	padding-left: 35px;
	text-align: left;
}

.awemenu-nav .awemenu-megamenu-wrapper h2.block__title { 
	font-size: 32px; 
	padding-top: 20px;
}


@media screen and (min-width: 1000px){
	#md-megamenu-1 .footer p,
	.awemenu-nav .awemenu-megamenu-wrapper .col-xs-12 .footer p { 
		font-size: 1em;
		padding: 10px;
		font-weight: bold;
		text-align: left;	
	}
	
	#md-megamenu-1 .footer,
	#md-megamenu-2 .footer,
	#md-megamenu-3 .footer {
		padding-bottom: 310px; margin-bottom: -310px; 
	}
	
	#md-megamenu-2 .footer p,
	.awemenu-nav .awemenu-megamenu-wrapper .col-xs-12 .footer p { 
		font-size: 1em;
		padding: 0 10px 50px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: bold;
		text-align: left;	
	}
}

.col-md-2 col-xs-12 {
	display:inline-block; width:50%; white-space:normal; vertical-align:top;
}

#block-menu-menu-occasion .block__title,
#block-menu-menu-product .block__title,
#block-menu-menu-difficulty .block__title,
#block-menu-menu-prep-time .block__title,
#block-menu-menu-seasons .block__title {
	display: block;
}

#block-block-5 {
	position: relative;
}

@media screen and (max-width: 999px){

	.awemenu-bars .amm-bar {
		color: #002d72;
		font-size: 32px;
		margin-left: 20px;
	}
	
	.awemenu-arrow {
		display: inline-block;
		width: 50px;	
	}
	
	#md-megamenu-2 .footer p,
	.awemenu-nav .awemenu-megamenu-wrapper .col-xs-12 .footer p { 
		font-size: 1em;
		padding: 0 10px 10px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: bold;
		text-align: left;	
	}
	
	#md-megamenu-2 .footer p a:hover,
	.awemenu-nav .awemenu-megamenu-wrapper .col-xs-12 .footer p a:hover { 
		font-size: 1em;
		font-weight: bold !important;	
		color: white !important;
	}
}

@media screen and (max-width: 850px){
	.awemenu-container ul.awemenu {
		background-color: white;
		margin: 0 3%;
		-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
		-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
		border-radius: 0 0 8px 8px;
		width: 94%
	}
}
