.ajax-progress-throbber {
    display: none;
}

.ajax-progress .throbber {
  display: none;
}

.view-taxonomy-term,
.view-all-recipes,
.view-flag-bookmarks {
	
	@media screen and (max-width: 921px){
		
		
		.views-exposed-form {
			.views-exposed-widget {
				/*float: none;*/
				width: 100%;
			}
		}
		.views-widget-sort-by {
			position: relative;
			margin-top: 30px;
		}
		
		.view-content {
			margin-top: 70px;
		}
	}

	
	@media screen and (min-width: 920px){

		.view-filters {
			width: 22.9%;
			float: left;
			margin-bottom: 220px;
		}
		
		.view-content .views-fluid-grid-list {
			margin-top: 120px;
		}
		
		.views-widget-sort-by {
			position: absolute;
			right: 0;
		}
	}
}

@media screen and (min-width: 920px){
	.view-empty {
		margin-top: 120px;
		margin-left: 26%;
	}
}

#views-exposed-form-all-recipes-page .views-submit-button {
	/*display: none;*/
	margin: 1.6em 0;
}

.view-taxonomy-term,
.view-all-recipes,
.view-flag-bookmarks {
	
	#edit-combine-wrapper {
		.description {
			margin-top: 65px;
			font-size: 20px;
			font-weight: 100;
			margin-bottom: 10px;
		}
	}
	

	
	.form-type-textfield input {
		border: 0px;
		border-radius: 16px;
		-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
		-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
		box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.24);
		padding: 10px 0 10px 10px;
		background-image: url(../../../../../sites/default/files/search-icon.png);
		background-position: right 10px center;
		background-repeat: no-repeat;
		font-size: 15px;
		margin-top: 120px;
		width: 100%;
	}
	
	#edit-field-occasion-tid-wrapper {
		width: 100%;
		border: 0px;
		border-radius: 8px 8px 0 0;
		background-color: white;
		border-bottom: 1px solid #eeeeee;
	}

	#edit-field-product-tid-wrapper,
	#edit-field-difficulty-tid-wrapper,
	#edit-field-prep-time-tid-wrapper {
		width: 100%;
		border: 0px;
		border-radius: 0;
		background-color: white;
		border-bottom: 1px solid #eeeeee;
	}
	
	#edit-field-seasons-tid-wrapper {
		width: 100%;
		border: 0px;
		border-radius: 0 0 8px 8px;
		background-color: white;
	}
	
	fieldset {
		border: 0px;
		padding: 0px;
		margin: 0px;
			
		.form-checkboxes {
			background-color: #f8f8f8;
			padding: 10px 15px;

			.bef-checkboxes .form-item {
				margin: 0 10px;
				padding: 10px 0;
			}
		}
	
		input[type=checkbox] {
			display: none;
		}
		
		input[type=checkbox] + label {
			background-image: url(../../../../../sites/default/files/checkbox-off.png);
			background-repeat: no-repeat;
			height: 22px;
			width: 100%;
			display: inline-block;
			padding: 0 0 0 32px;
			font-size: 15px;
			font-weight: 100;
			cursor: pointer;
		}
		
		input[type=checkbox]:checked + label {
			background-image: url(../../../../../sites/default/files/checkbox-on.png);
			background-repeat: no-repeat;
			height: 22px;
			width: 100%;
			display: inline-block;
			padding: 0 0 0 32px;
			font-size: 15px;
			font-weight: 100;
			cursor: pointer;
		}
		
		label {
			padding-left: 25px;
		}
		
		legend {
			width: 100%;
			
			a {
				text-decoration: none;
				font-weight: bold;
				line-height: 1.5em;
				color: #5d5d5d;
				font-size: 18px;
				padding: 15px;
				display: block;
			}
			
		}
	}
	
}

.views-exposed-form {
	width: 100%;
	overflow: hidden;
	
	.views-exposed-widget {
		padding: 0;
		max-width: 1140px;
		width: 100%;
	}
}

