/* Scss Document */

.node-recipe .field-name-field-ingredients:before {
	@include zen-new-row(both);
	content: '';
	display: block;
	float: none;
}
	  
.node-recipe .field-name-field-ingredients {
    @include zen-grid-item(1, 3, right);
}