/* Scss Document */

#block-block-20 {
	h2 {
		font-size: 45px;
	}
}

.node-recipe .field-name-field-ingredients:before {
	@include zen-new-row(both);
	content: '';
	display: block;
	float: none;
}

.node-recipe .field-name-field-ingredients {
    @include zen-grid-item(1, 3, right);
}

@media screen and (max-width: 999px) {
	.layout-3col__full.node-recipe .field-name-field-ingredients {
		float: left;
		margin-right: 0px;
		width: 100%;
		clear: both;
	}
	
	.layout-3col__full .node-recipe .group-recipe-title, 
	.layout-3col__full .node-recipe .field-name-field-media, 
	.layout-3col__full .node-recipe .field-name-field-ingredients, 
	.layout-3col__full .node-recipe .field-name-body,
	.layout-3col__full .node-products .field-name-field-image,
	.layout-3col__full .node-products .field-name-body {
		float: left;
		margin-right: 0px;
		width: 100%;
	}
}

.layout-3col .node-recipe .group-recipe-title {
	padding-left: 25px !important;
}

@media screen and (min-width: 999px) {
	.group-recipe-title h1 {
		margin-top: 0px !important;
	}
}


.node-recipe {
	
	ul.links { display: none; }
	
	.field-name-field-print-share-favourite {
		margin: 20px 0;
		span.print,
		span.share,
		span.flag-bookmarks,
        span.addtoany_list {
			display:inline-block;
			margin:0 10px 0 0;
			a {
				display: inline-block;
				text-indent: -9999px;
				width: 40px;
				height: 40px;
			}
		}
		.print {
			a {
				background:url('/sites/default/files/print-icon.png') no-repeat;
			}
			a:hover, a:active {
				background:url('/sites/default/files/print-icon-on.png') no-repeat;
			}
		}
		.share,
		.addtoany_list {
			a {
				background:url('/sites/default/files/share-icon.png') no-repeat;
			}
			a:hover, a:active {
				background:url('/sites/default/files/share-icon-on.png') no-repeat;
			}
		}
		.addtoany_list {
			margin-right: 6px;
		}
		.addtoany_share_save {
			display: none;
			position:relative;
			top: 6px;
		}
		.flag-bookmarks {
			a.flag-action {
				background:url('/sites/default/files/favourite-icon.png') no-repeat;
			}
			a:hover, a.unflag-action {
				background:url('/sites/default/files/favourite-icon-on.png') no-repeat;
			}
		}
	}
	.field-name-field-recipe-ingredients {
		.field-label {
			font-family: "Black-Coffee-Regular",sans-serif;
    		font-size: 36px;
    		font-weight: normal;
   		 	line-height: 2rem;
			margin-bottom: 1.33333rem;
			margin-top: 65px;
			
		}
		.field-item {
			display: block;
			.field-collection-view {
				.field-name-field-ingredient-list {
					.field-item {
						cursor: pointer;
						padding: 0 0 0 35px;
						margin: 0 0 15px 0;
						border: none;
						background: url('/sites/default/files/checkbox-off.png') left 0 top 4px no-repeat;
						padding-bottom: 0;
						line-height: 1.5em;
						&.checked {
							background-position: left 0;
							text-decoration: line-through;
							background: url('/sites/default/files/checkbox-on.png') left 0 top 4px no-repeat;
						}
						p {
							margin-top: 0px;
							margin-bottom: 0;
						}
					}
				}
				.field-collection-view-links {
					display: none;
				}
			}
		}
	}
	
	.field-name-body {
		margin-top: 65px;
		
		h2 {
			line-height: 1.2rem;
			margin-bottom: 1.6rem;
		}
		
		p {
			padding-bottom: 15px;
		}
		
		ol {
  			margin: 0 0 1.5em 1.5em;
  			padding: 0;
  			counter-reset: item;
		}
		
		ol > li {
  			margin: 0;
  			text-indent: -2em;
  			list-style-type: none;
  			counter-increment: item;
			margin-bottom: 15px;
			line-height: 1.5em;
		}
		
		ol > li:before {
  			display: inline-block;
  			width: 1.4em;
  			padding-right: 0.5em;
  			font-weight: bold;
  			text-align: right;
  			content: counter(item) ".";
		}
	}
	
	.field-collection-view {
		margin: 0 2.3em 0 0 !important;
		padding-top: 0px;
	}
	
	.field-collection-container {
		border-bottom: 0px !important;
	}

}
.not-front {
	.layout-3col {
		clear: both;
	}
}
#block-views-recipe-slide-block {
	margin-top: 50px;
}

@media screen and (max-width: 999px) {
	.view-id-recipe_slide.view-display-id-block,
	.view-id-product_slide.view-display-id-block {
		max-width: 800px;
	}
}

.view-id-recipe_slide,
.view-id-product_slide {
	display: block;
	overflow: hidden;
	@include border-radius(8px);
	&.view-display-id-block {
		background: $white;
		@include border-radius(8px);
		overflow: hidden;
		padding: 30px;
		.owl-carousel {
			margin: 0 0 15px;
			.owl-item {
				@include border-radius(8px);
				overflow: hidden;
			}
		}
	}
	&.view-display-id-attachment_1 {
		.owl-carousel {
			.owl-item {
				@include border-radius(8px);
				overflow: hidden;
				cursor: pointer;
				.file-video {
					.content {
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						&:before {
							content: "\f16a";
							position: absolute;
							top: 50%;
							left: 50%;
							margin-top: -24px;
							margin-left: -24px;
							z-index: 1;
							font-size: 3em;
							color: $white;
						}
					}
				}
			}
			.owl-stage-outer {
				border-radius: 8px;
			}
			.owl-nav {
				top: 0;
				left: 0;
				margin: 0;
				width: 100%;
				z-index: 1;
				display: block;
				overflow: hidden;
				height: 100%;
				div {
					background: $yellow;
					margin: 0;
					position: absolute;
					top: 0;
					height: 101px;
					padding: 0 15px;
					&.disabled {
						display: none;
					}
					.fa {
						/*position: relative;
						top: 35px;*/
						position: absolute;
  						top: 50%;
						margin-top: -7px;
					}
				}
				.owl-prev {
					@include border-radius(6px 0 0 6px);
					left: 0;
					-webkit-box-shadow: 11px 0px 14px -9px rgba(0,0,0,0.5);
					-moz-box-shadow: 11px 0px 14px -9px rgba(0,0,0,0.5);
					box-shadow: 11px 0px 14px -9px rgba(0,0,0,0.5);
					margin-right: 16px;
					display: block;
					height: 100%;
					position: absolute;
					max-height: 100%;
					.fa {
						left: 50%;
						margin-left: -5px;
					}
				}
				.owl-next {
					@include border-radius(0 6px 6px 0);
					right: 0;	
					-webkit-box-shadow: -11px 0px 14px -9px rgba(0,0,0,0.5);
					-moz-box-shadow: -11px 0px 14px -9px rgba(0,0,0,0.5);
					box-shadow: -11px 0px 14px -9px rgba(0,0,0,0.5);
					margin-left: 16px;
					display: block;
					height: 100%;
					position: absolute;
					max-height: 100%;
					.fa {
						right: 50%;
						margin-right: -5px;
					}
				}
			}
		}
	}
	.media-youtube-video {
		padding: 0;
		height: auto;
	}
}
.view-id-product_slide .view-display-id-attachment_1 .owl-carousel .owl-nav div {
	height: 97px;
}
.slidefull {
	.owl-stage {
		width: 100% !important;
		.owl-item {
			width: 100% !important;
		}
	}
}

.disabled .views-field-field-media .file-image img {
	display: block;
	overflow:hidden;
	border-radius: 8px;
}

.node-products {
	margin-bottom: 93px;
}

/************** NOTES SECTION ****************/


	.block-notes::after {
		clear:both;
	}

	.block-notes label {
		font-family:'Black-Coffee-Regular';
		font-size: 36px;
		margin-bottom: 25px;
		margin-top: 55px;
		font-weight: 100;
	}

	.block-notes { 

		.form-actions input {
			float: right;
		}
	}

.region-related-products {
	display: block;
	overflow: hidden;
}

/* Tooltip text */
.tooltip {
	.tooltiptext {
		visibility: hidden;
		max-width: 200px;
		background-color: #5d5d5d;
		color: #fff;
		text-align: center;
		padding: 5px 5px;
		border-radius: 6px;
	 
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
		font-size: 0.8rem;
	}
	&:hover {
		.tooltiptext {
			visibility: visible;
		}
	}
}
.flag-non-login {
	.flag-link-normal,
	.tooltip {
		display: none !important;
	}
}
.i18n-en {
	.flag-non-login {
		.flag-link-normal.en {
			display:block !important;
		}
	}
	.tooltip.en {
		display: block !important;
	}
}
.i18n-fr {
	.flag-non-login {
		.flag-link-normal.fr {
			display:block !important;
		}
	}
	.tooltip.fr {
		display: block !important;
	}
}
.fivestar-default {
	position:relative;
	&:hover {
		.tooltiptext {
			visibility: visible;
		}
	}
}
.i18n-en {
	.flag-bookmarks {
		&:hover {
			.tooltip.en {
				.tooltiptext {
					visible: visible;
				}
			}
		}
	}
}
.i18n-fr {
	.flag-bookmarks {
		&:hover {
			.tooltip.fr {
				.tooltiptext {
					visible: visible;
				}
			}
		}
	}
}


/******** Fix spacing on recipe lists ********/
.node-recipe .field-name-body ul li {
	margin-bottom: 15px;
	
}