// Autocomplete field
//
// As the user starts to type a value, a selection list appears below the form
// item allowing them to choose an option.
//
// .is-throbbing - Waiting for search result.
//
// Markup: autocomplete.twig
//
// Style guide: forms.autocomplete


// Animated throbber
.autocomplete,
%autocomplete {
  background-image: image-url('forms', 'autocomplete/throbber-inactive.png');
  background-position: 100% center;
  background-repeat: no-repeat;

  @include rtl() {
    background-position: 0% center;
  }

  // Suggestion list.
  &__list-wrapper {
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
  }

  &__list {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    background: color(autocomplete-bg);
    color: color(autocomplete);
    cursor: default;
    white-space: pre;

    &.is-selected,
    &--is-selected {
      background: color(autocomplete-select-bg);
      color: color(autocomplete-select);
    }
  }

  &.is-throbbing,
  &--is-throbbing {
    background-image: image-url('forms', 'autocomplete/throbber-active.gif');
  }
}

//
// Drupal selectors.
//

.form-autocomplete {
  @extend %autocomplete;

  &.throbbing {
    @extend %autocomplete--is-throbbing;
  }
}

// sass-lint:disable no-ids
#autocomplete {
  @extend %autocomplete__list-wrapper;

  ul {
    @extend %autocomplete__list;
  }

  li {
    @extend %autocomplete__list-item;
  }

  .selected {
    @extend %autocomplete__list-item--is-selected;
  }
}


	
@media screen and (min-width: 921px){
		ul.pager {
			width: 75.5%;
			float: right;
	}
}
	
@media screen and (max-width: 920px){
		ul.pager {
			width: 100%;
			float: left;
	}
}	

ul.pager {
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 220px;
	
	li {
		font-family: 'source_code_proregular', sans-serif;
		font-size: 15px;
		padding: 10px 16px;
		margin: 7.5px 1.5%;
		display: inline-block;
		
		a {
			color: #3e3d41;
			font-weight: normal;
			text-decoration: none;
		}
	}
		
	li.pager__current-item, .pager-current {
		font-weight: normal;
		background-color: #f7f7f7;
		padding: 8px 16px;
		border-radius: 30px;
		margin: 7.5px 1.5%;
	}
	
	li.pager-first {
		float: left;
		border-right: 1px solid #eeeeee;
		font-weight: bold;
		margin: 0px;
		padding: 19px 3%;
	}
	
	li.pager-last {
		float: right;
		border-left: 1px solid #eeeeee;
		font-weight: bold;
		margin: 0px;
		padding: 19px 3%;
	}
}
