/* Scss Document */
@media print {
  .login-block,
  #block-block-1,
  #block-locale-language-content,
  .region-navigation,
  .region-highlighted,
  #views-exposed-form-all-recipes-page,
  .region-footer,
  .block-block-3 p.links,
  .field-name-field-favourite,
  .field-name-field-print-share-favourite,
  .region-related-products {
    display: none !important;
  }
  .layout-swap__top {
    display: none !important;
    height: 0 !important;
  }
  .owl-nav, .owl-dots {
    display: none !important;
    height: 0;
    margin: 0;
  }
  .owl-stage-outer {
    display: block;
    overflow: hidden;
  }
  .owl-stage {
    max-width: 100% !important;
  }
  .owl-stage .owl-item:nth-of-type(n+2),
  .view-recipe-slide .attachment {
    display: none !important;
  }
  .owl-stage .owl-item {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 0 !important;
    position: relative;
  }
  .owl-stage .owl-item img {
    display: block;
  }
  .view-id-recipe_slide.view-display-id-block, .view-id-product_slide.view-display-id-block {
    padding: 0px !important;
    float: left;
    max-width: 100% !important;
  }
  body {
    background-color: white;
  }
  .layout-3col .node-recipe .group-recipe-title {
    float: right;
    width: 65% !important;
    margin: 0 !important;
    padding-left: 1% !important;
    padding-top: 0 !important;
    clear: none !important;
    z-index: 100;
    position: relative;
  }
  a[href]:after {
    content: none !important;
  }
  .regpage .header,
  .bkg-image-rotation .header,
  .region-bottom {
    background-color: white;
    width: auto;
    float: left;
  }
  .logo-container {
    width: auto;
    float: left;
  }
  #block-views-recipe-slide-block {
    margin-top: 0 !important;
    width: 30% !important;
    float: left;
  }
  h1 {
    font-size: 25pt;
  }
  h2,
  .node-recipe .field-name-field-recipe-ingredients .field-label {
    font-size: 18pt !important;
    margin-top: 20px !important;
  }
  p {
    font-size: 10pt !important;
    line-height: auto;
  }
  .node-recipe .field-name-body p {
    padding-bottom: 0px !important;
    font-size: 10pt !important;
  }
  .node-recipe .field-name-body {
    margin-top: 20px !important;
  }
  .layout-3col .node-recipe .field-name-field-ingredients, .layout-3col .node-recipe .field-collection-container {
    width: 30% !important;
    float: left;
    margin: 0 !important;
    clear: both;
  }
  .layout-3col__right-content, .layout-3col .node-recipe .group-details, .layout-3col .block-notes {
    float: right;
    width: 65% !important;
    margin: 0 !important;
    padding: 0.42rem 0 0.78rem 1% !important;
  }
  .node-recipe .field-name-field-recipe-ingredients .field-item .field-collection-view .field-name-field-ingredient-list .field-item {
    font-size: 10pt !important;
    line-height: 1.3em;
  }
  .node-recipe .field-name-field-serves, .node-recipe .field-name-field-prep-time-duration, .node-recipe .field-name-field-cook-time-duration, .node-recipe .field-name-field-total-time {
    font-size: 10pt;
  }
  .node-recipe .field-name-field-recipe-ingredients .field-item .field-collection-view .field-name-field-ingredient-list .field-item {
    background: url(/sites/default/files/checkbox-print.png) left 0 top 0 no-repeat !important;
  }
  .region-bottom p {
    font-size: 8pt !important;
  }
}

/*# sourceMappingURL=print.css.map */
