// Headings
//
// All HTML headings, `<h1>` through `<h6>`, are available. `%h1` through `%h6`
// classes are also available, for when you want to match the font styling of a
// heading but still want your text to be displayed inline.
//
// Markup: headings-h.twig
//
// Style guide: base.headings

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
h1,
%h1 {
  // Set the font-size and line-height while keeping a proper vertical rhythm.
  font-size: 47px;
	line-height: 2.4rem;

  // Set 1 unit of vertical rhythm on the top and bottom margins.
  @include margin-top(1, xxl);
  @include margin-bottom(1, xxl);
	font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
	
}

h2,
%h2 {
  font-size: 36px;
	line-height: 2rem;
  @include margin-top(1, xl);
  @include margin-bottom(1, xl);
	font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
	
}

h3,
%h3 {
  @include type-layout(xl, 1.5);
  @include margin-top(1, l);
  @include margin-bottom(1, l);
		font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
}

h4,
%h4 {
  @include type-layout(l, 1.7);
  @include margin-top(1, m);
  @include margin-bottom(1, m);
		font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
	font-size: 29px;
}

h5,
%h5 {
  @include type-layout(l, 1.5);
  @include margin-top(1, s);
  @include margin-bottom(1, s);
		font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
}

h6,
%h6 {
  @include type-layout(l, 1);
  @include margin-top(1, xs);
  @include margin-bottom(1, xs);
		font-family: 'Black-Coffee-Regular', sans-serif;
	font-weight: normal;
}
