// Nav menu
//
// A "nav menu" is secondary, hierarchical navigation which can be displayed to the
// side or below the main content.
//
// Markup: nav-menu.twig
//
// Style guide: navigation.nav-menu

.nav-menu,
%nav-menu {

  &__item {
    list-style-image: image-url('navigation', 'nav-menu/leaf.svg');
    list-style-type: square;

    &.is-expanded,
    &--is-expanded {
      list-style-image: image-url('navigation', 'nav-menu/expanded.svg');
      list-style-type: circle;
    }

    &.is-collapsed,
    &--is-collapsed {
      list-style-image: image-url('navigation', 'nav-menu/collapsed.svg');
      list-style-type: disc;

      @include rtl() {
        list-style-image: image-url('navigation', 'nav-menu/collapsed-rtl.svg');
      }
    }
  }

  &__link {
    &.is-active,
    &--is-active {
      color: color(menu-active);
    }
  }
}

//
// Drupal selectors.
//

.menu__item {
  @extend %nav-menu__item;

  &.is-expanded {
    @extend %nav-menu__item--is-expanded;
  }

  &.is-collapsed {
    @extend %nav-menu__item--is-collapsed;
  }
}

// The active item in a Drupal menu.
.menu a.active {
  @extend %nav-menu__link--is-active;
}

.awemenu-nav .awemenu-megamenu-wrapper ul li a:hover {
	padding-right: 20px;
	background-image: url(../../../../../sites/default/files/menu-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	text-decoration: underline;
}

li.awemenu-item-level-1.awemenu-active > a {
	border-bottom: 5px solid #002d72;
}

li.awemenu-item-level-1 a {
	border-bottom: 5px solid rgba(0,0,0,0);
}

@media screen and (min-width: 850px){
	[class^="amm-"], [class*=" amm-"] {
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		font-family: "awemmenu";
		font-size: 1.7em;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		padding-left: 30px;
		text-transform: none;
	}
}

@media screen and (max-width: 849px){
	[class^="amm-"], [class*=" amm-"] {
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		font-family: "awemmenu";
		font-size: 1.4em;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		padding-left: 30px;
		text-transform: none;
	}
}
