.yellow {
  color: #fd0;
}

/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.kss-style .chroma-kss {
  line-height: 50px;
}

.kss-style .chroma-kss__swatch {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #000;
  margin-right: 10px;
  vertical-align: middle;
}

.kss-style .chroma-kss__variable {
  margin-right: 10px;
}

.kss-style .chroma-kss__alt-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.kss-style .chroma-kss__value {
  color: #bbb;
}

.kss-style .chroma-kss__value code {
  color: #bbb;
}

.kss-style .chroma-kss__value:before {
  content: '\2192\ ';
  font-family: sans-serif;
}

.kss-style .chroma-kss__reference {
  display: block;
  position: relative;
  top: -12px;
  line-height: 25px;
  padding-left: 50px;
  color: #999;
}

/*# sourceMappingURL=chroma-kss-styles.css.map */
