// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
//
// Markup: links-a.twig
//
// Style guide: base.link

a,
%link {
  color: color(link);
  // Remove gaps in links underline in iOS 8+ and Safari 8+.
  -webkit-text-decoration-skip: objects;
}

// Any element can receive focus, but only links can be visited, so we can
// safely lower this selector's specificity. This also ensures visited links
// with additional styles won't have their styles overridden.
:visited {
  color: color(link-visited);
}

a:hover,
a:focus {
  // Add your styles.
}

a:active {
  color: color(link-active);

  &:not(.button) {
    // Remove the gray background on active links in IE 10.
    background-color: transparent;
  }
}

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}

.awemenu-nav .awemenu-megamenu-wrapper p a {
	color: #fff !important;
	text-decoration: none;
}

@media print {
  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible URL after links.
  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: normal;
    font-size: $base-font-size;
    text-decoration: none;
  }

  // Only display useful links.
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

.region-prefooter .container p.yellowbutton,
.yellowbutton, 
.view-user-information .views-field-nothing {
	text-align: center;
	margin: 10px;
	padding-top: 40px;
	a {
  		overflow: visible;
		background-color: #ffdb00;
		text-transform: uppercase;
		color: #002d72;
		border-radius: 20px;
		text-decoration: none;
		padding: 8px 80px;
		font-weight: bold;
		font-size: 25px;
	}
	a:hover {
		background-color: #ffe973;
	}
	a:active {
		background-color: #fff5dd;
		border: 2px solid white;
	}
}

@media screen and (max-width: 450px){
	.view-user-information .views-field-nothing a {
		font-size: 18px !important;
		padding: 8px 40px !important;
	}
}

@media screen and (min-width: 921px){
	p.yellowbutton-sm {
		text-align: center;
		padding: 10px 20px;
		a {
			overflow: visible;
			background-color: #ffdb00;
			text-transform: uppercase;
			color: #002d72;
			border-radius: 20px;
			text-decoration: none;
			padding: 3px 0;
			font-weight: bold;
			font-size: 14px;
			width: 100%;
			display: block;
			margin-left: 0 10px;
		}
		a:hover {
			background-color: #ffe973;
		}
		a:active {
			background-color: #fff5dd;
			border: 2px solid white;
		}
	}
}

@media screen and (max-width: 920px){
	p.yellowbutton-sm {
		text-align: center;
		padding: 10px 20px;
		a {
			overflow: visible;
			background-color: #ffdb00;
			text-transform: uppercase;
			color: #002d72;
			border-radius: 20px;
			text-decoration: none;
			padding: 10px 40px;
			font-weight: bold;
			font-size: 14px;
			width: 100%;
			max-width: 250px;
			margin-left: 0 10px;
		}
		a:hover {
			background-color: #ffe973;
		}
		a:active {
			background-color: #fff5dd;
			border: 2px solid white;
		}
	}
}


/**************  Social share on product page ******************/
.node-products {
	
	ul.links { display: none; }
	
	.field-name-field-print-share-favourite {
		position: absolute;
		right: 0;
		top:0;
		margin: 0 0 20px 0;
		span.share,
        span.addtoany_list {
			display:inline-block;
			margin:0 10px 0 0;
			a {
				display: inline-block;
				text-indent: -9999px;
				width: 40px;
				height: 40px;
			}
		}
		.print {
			display: none;
		}
		.share,
		.addtoany_list {
			a {
				background:url('/sites/default/files/share-icon.png') no-repeat;
			}
			a:hover, a:active {
				background:url('/sites/default/files/share-icon-on.png') no-repeat;
			}
		}
		.addtoany_list {
			margin-right: 6px;
		}
		.addtoany_share_save {
			display: none;
			position:relative;
			top: 6px;
		}
		.flag-bookmarks {
			display: none;
		}
	}
}

span.locale-untranslated { display: none; }

.contact-link {
	text-align: right;
	
	a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	}
}