// Special Blocks

@media screen and (min-width:600px) {
	.region-highlighted {
		width: 100%;

		.heart-bkg {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding: 98px 0 105px 0;

				div {
					max-width: 1140px;
					margin: 0 auto;
				}

				p, h1, h2, h3, h4, h5, h6 {
					max-width: 1140px;
					margin: 0 auto;
					color: white;
				}
			h1 { 
				font-size: 76px; 
				line-height: 80px; 

				sup {
					font-size: 1rem;
					top: -2.2em !important;
				}
			}
		}
	.center-text h1,
	.center-text h2,
	.center-text h3, 
	.center-text h4, 
	.center-text h5,
	.center-text h6 {
	text-align: center;
	}
}
}
	
@media screen and (max-width:599px) {
	.region-highlighted {
		width: 100%;
		clear:both;

		.heart-bkg {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding: 98px 0 105px 0;

				div {
					max-width: 1140px;
					margin: 0 auto;
				}

				p, h1, h2, h3, h4, h5, h6 {
					max-width: 1140px;
					margin: 0 auto;
					color: white;
				}
			h1 { 
				font-size: 50px; 
				line-height: 60px; 
				margin: 0 20px;

				sup {
					font-size: 1rem;
					top: -1.2em !important;
				}
			}
		}
	.center-text h1,
	.center-text h2,
	.center-text h3, 
	.center-text h4, 
	.center-text h5,
	.center-text h6 {
	text-align: center;
	}
}
	}

	

	@media screen and (min-width: 1001px){
		.heart-bkg{
			background-image: url('/sites/default/files/flour-heart2k.jpg');
		}
		.faq-bkg-img {
			background-image: url('/sites/default/files/faq-header.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.our-story-imagebkg {
			background-image: url('/sites/default/files/our-story-header.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (min-width: 601px) and (max-width: 1000px){
		.heart-bkg{
		background-image: url('/sites/default/files/flour-heart1k.jpg');
		}
		.faq-bkg-img {
			background-image: url('/sites/default/files/faq-header-1000.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.our-story-imagebkg {
			background-image: url('/sites/default/files/our-story-header-1000.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (min-width: 451px) and (max-width: 600px){
		.heart-bkg{
			background-image: url('/sites/default/files/flour-heart600.jpg');
		}
		.faq-bkg-img {
			background-image: url('/sites/default/files/faq-header-600.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.our-story-imagebkg {
			background-image: url('/sites/default/files/our-story-header-600.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (max-width: 450px){
		.heart-bkg{
			background-image: url('/sites/default/files/flour-heart450.jpg');
		}
		.faq-bkg-img {
			background-image: url('/sites/default/files/faq-header-450.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.our-story-imagebkg {
			background-image: url('/sites/default/files/our-story-header-450.jpg');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	
	



/** Recipe Sliders **/
.optionset-recipe-flexslider { 
	background-color: white;
	border-radius: 5px;

	.fluid-width-video-wrapper {
		margin: 1%;
		width: 98%;
		border-radius: 7px;
		overflow: hidden;
	}
	
	.flex-recipecontrol-thumbs {
		width: 100%;
		padding-left: 0px;
		
		li { 
			margin: 10px 1%;
			list-style: none;
			padding: 0px;
			display: inline;
			
			img {
				max-width: 23%;
			}
		}
		
		li:first-child img {
			border-radius: 7px 0 0 7px;
		}
		
		li:last-child img {
			border-radius: 0 7px 7px 0;
		}
	}
}


/*********** Print | Share | Favourite  **************/
.field-name-field-print-share-favourite .media-element-container {
	float: left;
	margin-right: 10px;
}

/************** Related Recipies Section *****************/
@media screen and (min-width: 921px){
	#block-block-11 {
		float: left;
		border-radius: 10px;
		width: 20%;
		margin-right: 3.5%;
		overflow: visible !important;

		h3 {
			color: white;
			font-family: "Source Sans Pro",sans-serif;
			font-weight: bold;
			padding: 10px 20px;
			line-height: 1.2em;
			font-size: 32px;
		}
	}


	.arrow_box {
		position: relative;
		background: #002d72;
		}
	.arrow_box:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-left-color: #002d72;
			border-width: 15px;
			margin-top: -15px;
	}

	#block-views-related-items-block {
		float: left;
		width: 75%;
	}
}

@media screen and (max-width: 920px){
	#block-block-11 {
		float: left;
		border-radius: 10px;
		width: 98%;
		overflow: visible !important;
		margin: 70px 1% 50px 1%;

		h3 {
			color: white;
			font-family: "Source Sans Pro",sans-serif;
			font-weight: bold;
			padding: 10px 20px;
			line-height: .6em;
			font-size: 32px;
			text-align: center;
		}
	}


	.arrow_box {
		position: relative;
		background: #002d72;
		}
	.arrow_box:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 45, 114, 0);
			border-top-color: #002d72;
			border-width: 15px;
			margin-left: -15px;
	}

	#block-views-related-items-block {
		float: left;
		width: 100%;
	}
}


/************** Email Us Footer ****************/

.region-prefooter {
	
	@media screen and (min-width: 1001px){
		.email-callout {
			background-image: url('/sites/default/files/footer-callout-bkg-yellow.png');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (min-width: 601px) and (max-width: 1000px){
		.email-callout {
			background-image: url('/sites/default/files/footer-callout-bkg-yellow-1000.png');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (min-width: 451px) and (max-width: 600px){
		.email-callout {
			background-image: url('/sites/default/files/footer-callout-bkg-yellow-600.png');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	@media screen and (max-width: 450px){
		.email-callout {
			background-image: url('/sites/default/files/footer-callout-bkg-yellow-450.png');
			overflow: hidden;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	
	.container {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		padding: 90px 0;
		
		p, h1, h2, h3, h4, h5, h6 {
			padding: 0 10px;
			text-align: center;
			color: #002d72;
		}
		
		h1 {
			font-size: 3.5em;
		}
		
		.largetxt {
			font-size: 1.6em;
		}
	}
}

/********************** Recipe Book Header ***********************/
@media screen and (min-width: 1001px){
	.recipe-book-header-image {
		float: left;
		width: 58%;
	}
	
	/*.block-views-user-information-block,
	#block-views-user-information-block,
	#block-views-user-information-block-1 {
		float: left;
		width: 40%;
		margin-left: 2%;
	}*/
}

.view-flag-bookmarks,
.favourited-recipes {
	width: 100%;
	float: left;
	clear: both;
}



/**************** OUR STORY PAGE ***********************/
.right-align {
	float: right;
	max-width: 40%;
	
	img {
		max-width: 96%;
		height: auto;
		margin-left: 4%;
		margin-bottom: 40px;
		border-radius: 8px;
	}
}

.right-align-quarter {
	float: right;
	max-width: 30%;
	
	img {
		max-width: 96%;
		height: auto;
		margin-left: 4%;
		margin-bottom: 40px;
		border-radius: 8px;
	}
}

.right-align-2 {
	float: right;
	max-width: 40%;
	
	img {
		max-width: 96%;
		height: auto;
		margin-left: 4%;
		margin-bottom: 40px;
		border-radius: 0;
	}
}

.left-align {
	float: left;
	max-width: 40%;
	
	img {
		max-width: 96%;
		height: auto;
		margin-right: 4%;
		margin-bottom: 40px;
		border-radius: 8px;
	}
}

.fullwidth {
	width: 100%;
	
	.media-element-container:first-child {
		display: block;
		overflow: hidden;
		float: left;
		max-width: 31.3%;
		margin: 0 1.5% 0 0;
		padding-bottom: 40px;
		
		img {
			max-width: 100%;
			height: auto;
			border-radius: 8px;
		}
	} 
	.media-element-container:nth-child(2) {
		display: block;
		overflow: hidden;
		float: left;
		max-width: 31.3%;
		margin: 0 1.5%;
		padding-bottom: 40px;
		
		img {
			max-width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}
	.media-element-container:last-child {
		display: block;
		overflow: hidden;
		float: left;
		max-width: 31.3%;
		margin: 0 0 0 1.5%;
		padding-bottom: 40px;
		
		img {
			max-width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}
}

/************** Where to Buy ****************/

h2.padtop,
p.padtop {
	padding-top: 40px;
	clear: both;
}



/*************** USER MODDAL EDIT FORM *****************/

#user-register-form,
#user-profile-form {
		padding: 10px 30px;
		background: #fff5dd;
		border-radius: 8px;
		
		.password-strength,
		.password-confirm {
			clear:both;
			float: none;
			padding-bottom: 10px;
			margin-top: 0px;
			margin-bottom: 15px;
			max-width: 100%;
		}
		
		div.password-suggestions {
			max-width: 100%;
		}
		
		#edit-metatags {
			display: none;
		}
	}
	
	.views-field-views-conditional label {
		font-size: 18px;
		font-weight: 100;
	}


/************* HOMEPAGE VIDEO HOLD 16:9 SHAPE *******************/

@mixin aspect-ratio($width, $height) {
	  position: relative;
	  &:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	  }
	  >.view-homepage-background-image-slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	  }
}

	#block-views-270a8eb96a38518f4b3a53d2fe05de0c {
		@include aspect-ratio(16, 9);
	}






/************* CSS TO HIDE MENU ON TIPS AND TRICKS PAGE **************/
#views-exposed-form-tips-and-tricks-page {
	display: none;
}

.view-tips-and-tricks { padding-top: 70px; }