.position-s, .awemenu-nav.awemenu-has-logo .awemenu {
  position: static;
}

.position-r, .awemenu-nav, .awemenu-nav .awemenu-container, .awemenu-nav .awemenu, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu .awemenu-item, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu .awemenu-item, .awemenu-left .awemenu .awemenu-item, .awemenu-outleft .awemenu .awemenu-item, .awemenu-right .awemenu .awemenu-item, .awemenu-outright .awemenu .awemenu-item, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item {
  position: relative;
}

.position-f, .awemenu-standard.awemenu-sticky, .awemenu-sticky.awemenu-top, .awemenu-top, .awemenu-outleft.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-outleft .awemenu, .awemenu-outleft.awemenu-sticky, .awemenu-outright.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-outright .awemenu, .awemenu-outright.awemenu-sticky, .awemenu-bottom, .awemenu-mobile-standard.awemenu-sticky, .awemenu-sticky.awemenu-mobile-top, .awemenu-mobile-top, .awemenu-mobile-bottom, .awemenu-mobile-outleft .awemenu, .awemenu-mobile-outright .awemenu, .awemenu-mobile-outleft.awemenu-sticky, .awemenu-sticky.awemenu-mobile-outright {
  position: fixed;
}

.position-a, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu, .awemenu-left .awemenu .awemenu-item .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu, .awemenu-right .awemenu .awemenu-item .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu, .awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu, .awemenu-mobile-bottom .awemenu {
  position: absolute;
}

.list-n, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  list-style: none;
}

.pad-0, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  padding: 0;
}

.mar-0, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  margin: 0;
}

.block, .awemenu-nav:after, .awemenu-nav:before, .awemenu-nav.awemenu-active .awemenu, .awemenu-nav .awemenu-container:after, .awemenu-nav .awemenu-container:before, .awemenu-nav .awemenu:after, .awemenu-nav .awemenu:before, .awemenu-left .awemenu .awemenu-item, .awemenu-outleft .awemenu .awemenu-item, .awemenu-right .awemenu .awemenu-item, .awemenu-outright .awemenu .awemenu-item, .awemenu-outright.awemenu-nav .awemenu-bars, .awemenu-mobile-standard.awemenu-nav .awemenu-bars, .awemenu-nav.awemenu-mobile-top .awemenu-bars, .awemenu-mobile-bottom.awemenu-nav .awemenu-bars, .awemenu-mobile-outleft.awemenu-nav .awemenu-bars, .awemenu-nav.awemenu-mobile-outright .awemenu-bars {
  display: block;
}

.clear-b, .awemenu-left .awemenu, .awemenu-outleft .awemenu, .awemenu-right .awemenu, .awemenu-outright .awemenu, .awemenu-mobile-standard.awemenu-has-logo .awemenu, .awemenu-has-logo.awemenu-mobile-top .awemenu {
  clear: both;
}

.block-n, .awemenu-nav .awemenu-submenu, .awemenu-nav .awemenu-bars, .awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu, .awemenu-mobile-bottom .awemenu {
  display: none;
}

.float-l, .awemenu-nav.awemenu-has-logo .awemenu-logo, .awemenu-standard .awemenu > .awemenu-item, .awemenu-top .awemenu > .awemenu-item, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-left.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-nav.awemenu-has-logo.awemenu-outleft .awemenu, .awemenu-left .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-outleft .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-right .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-outright .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-bottom .awemenu > .awemenu-item, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow {
  float: left;
}

.float-r, .awemenu-nav.awemenu-has-logo .awemenu, .awemenu-standard .awemenu > .awemenu-item > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item > a .awemenu-arrow, .awemenu-standard .awemenu > .awemenu-item.awemenu-item-right, .awemenu-top .awemenu > .awemenu-item.awemenu-item-right, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item > a .awemenu-arrow, .awemenu-left .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-outleft .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-right .awemenu, .awemenu-outright .awemenu, .awemenu-right .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-outright .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-outleft.awemenu-nav.awemenu-has-logo .awemenu-bars, .awemenu-outright.awemenu-nav.awemenu-has-logo .awemenu-bars, .awemenu-bottom .awemenu > .awemenu-item.awemenu-item-right, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item > a .awemenu-arrow, .awemenu-mobile-standard.awemenu-has-logo .awemenu-bars, .awemenu-has-logo.awemenu-mobile-top .awemenu-bars, .awemenu-mobile-bottom.awemenu-has-logo .awemenu-bars, .awemenu-mobile-outright.awemenu-has-logo .awemenu-bars {
  float: right;
}

.float-n, .awemenu-outleft.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-outright.awemenu-nav.awemenu-has-logo .awemenu, .awemenu-outright .awemenu, .awemenu-mobile-standard.awemenu-has-logo .awemenu, .awemenu-has-logo.awemenu-mobile-top .awemenu {
  float: none;
}

.awemenu-clearfix:before, .awemenu-nav:before, .awemenu-clearfix:after, .awemenu-nav:after {
  display: table;
  content: '';
  clear: both;
}

.awemenu-nav {
  z-index: 99;
}
.awemenu-nav:after, .awemenu-nav:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu-container:after, .awemenu-nav .awemenu-container:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu:after, .awemenu-nav .awemenu:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu-active > .awemenu-submenu {
  display: block;
}
.awemenu-nav .awemenu-icon .icon-top, .awemenu-nav .awemenu-icon .icon-bottom {
  display: block;
}

.awemenu-standard .awemenu > .awemenu-item > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item > a .awemenu-arrow {
  margin-left: 10px;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown {
  width: 250px;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu {
  width: 100%;
  left: 100%;
  top: 0;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > a .awemenu-arrow {
  margin-right: 10px;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > .awemenu-submenu {
  left: auto;
  right: 100%;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-megamenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-megamenu {
  width: 500px;
}
.awemenu-standard.awemenu-sticky, .awemenu-sticky.awemenu-top {
  left: 0;
  right: 0;
  top: 0;
}

.awemenu-top {
  left: 0;
  right: 0;
  top: 0;
}

.awemenu-left .awemenu, .awemenu-outleft .awemenu {
  width: 250px;
}
.awemenu-left .awemenu .awemenu-item .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu {
  left: 100%;
  top: 0;
  width: 100%;
}
.awemenu-left .awemenu .awemenu-item .awemenu-submenu.awemenu-dropdown, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu.awemenu-dropdown {
  width: 250px;
}
.awemenu-left .awemenu .awemenu-item .awemenu-submenu.awemenu-megamenu, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu.awemenu-megamenu {
  width: 500px;
}
.awemenu-left .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu {
  left: auto;
  right: 100%;
}

.awemenu-right .awemenu, .awemenu-outright .awemenu {
  width: 250px;
}
.awemenu-right .awemenu .awemenu-item > a .awemenu-arrow, .awemenu-outright .awemenu .awemenu-item > a .awemenu-arrow {
  margin-right: 10px;
}
.awemenu-right .awemenu .awemenu-item .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu {
  right: 100%;
  top: 0;
  width: 100%;
  left: auto;
}
.awemenu-right .awemenu .awemenu-item .awemenu-submenu.awemenu-dropdown, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu.awemenu-dropdown {
  width: 250px;
}
.awemenu-right .awemenu .awemenu-item .awemenu-submenu.awemenu-megamenu, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu.awemenu-megamenu {
  width: 500px;
}
.awemenu-right .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow, .awemenu-outright .awemenu .awemenu-item.awemenu-invert > a .awemenu-arrow {
  margin-left: 10px;
  margin-right: 0;
}
.awemenu-right .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu {
  right: auto;
  left: 100%;
}
.awemenu-right .awemenu > .awemenu-item > a .awemenu-arrow, .awemenu-outright .awemenu > .awemenu-item > a .awemenu-arrow {
  margin-right: 10px;
}

.awemenu-outleft.awemenu-nav .awemenu-bars {
  display: block;
}
.awemenu-outleft .awemenu {
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.awemenu-outleft.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-outleft.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-outright .awemenu {
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.awemenu-outright.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-outright.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.awemenu-bottom .awemenu > .awemenu-item > a .awemenu-arrow {
  margin-left: 5px;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu {
  bottom: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item .awemenu-submenu {
  bottom: 0;
  width: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item.awemenu-vertical-invert > .awemenu-submenu {
  bottom: auto;
  top: 0;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown {
  width: 250px;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu {
  width: 100%;
  left: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > .awemenu-submenu {
  left: auto;
  right: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-megamenu {
  width: 500px;
}

.awemenu-mobile-standard.awemenu-has-logo .awemenu, .awemenu-has-logo.awemenu-mobile-top .awemenu {
  width: 100%;
}
.awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu {
  left: 0;
  right: 0;
  top: 100%;
}
.awemenu-mobile-standard.awemenu-sticky, .awemenu-sticky.awemenu-mobile-top {
  left: 0;
  right: 0;
  top: 0;
}
.awemenu-mobile-standard.awemenu-sticky .awemenu, .awemenu-sticky.awemenu-mobile-top .awemenu {
  overflow-y: auto;
}

.awemenu-mobile-top {
  left: 0;
  right: 0;
  top: 0;
}
.awemenu-mobile-top .awemenu {
  overflow-y: auto;
}

.awemenu-mobile-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.awemenu-mobile-bottom .awemenu {
  overflow-y: auto;
  left: 0;
  right: 0;
  bottom: 100%;
}

.awemenu-mobile-outleft .awemenu, .awemenu-mobile-outright .awemenu {
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.awemenu-mobile-outleft.awemenu-active .awemenu, .awemenu-active.awemenu-mobile-outright .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-mobile-outleft.awemenu-sticky, .awemenu-sticky.awemenu-mobile-outright {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-mobile-outright .awemenu {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awemenu-mobile-outright.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-mobile-outright.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-animation .awemenu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awemenu-animation .awemenu-submenu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awemenu-animation .awemenu-fadeup > .awemenu-submenu {
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.awemenu-animation .awemenu-fadedown > .awemenu-submenu {
  -webkit-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
  -o-transform: translate(0, -30px);
  transform: translate(0, -30px);
}
.awemenu-animation .awemenu-fadeleft > .awemenu-submenu {
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
}
.awemenu-animation .awemenu-faderight > .awemenu-submenu {
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  transform: translate(100px, 0);
}
.awemenu-animation .awemenu-zoom > .awemenu-submenu {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.awemenu-animation .awemenu-rotateupleft > .awemenu-submenu {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.awemenu-animation .awemenu-rotateupright > .awemenu-submenu {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.awemenu-animation .awemenu-flipx > .awemenu-submenu {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateX(-45deg);
  -moz-transform: rotateX(-45deg);
  -ms-transform: rotateX(-45deg);
  -o-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
}
.awemenu-animation .awemenu-flipy > .awemenu-submenu {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transform: rotateX(45deg);
}
.awemenu-animation .awemenu-flipyright > .awemenu-submenu {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.awemenu-animation .awemenu-flipyleft > .awemenu-submenu {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.awemenu-animation .awemenu-slideleft > .awemenu-submenu {
  -webkit-transform: translate(-30%, 0);
  -moz-transform: translate(-30%, 0);
  -ms-transform: translate(-30%, 0);
  -o-transform: translate(-30%, 0);
  transform: translate(-30%, 0);
}
.awemenu-animation .awemenu-slideright > .awemenu-submenu {
  -webkit-transform: translate(30%, 0);
  -moz-transform: translate(30%, 0);
  -ms-transform: translate(30%, 0);
  -o-transform: translate(30%, 0);
  transform: translate(30%, 0);
}
.awemenu-animation .awemenu-active > .awemenu-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0) scale(1);
  -moz-transform: translate(0, 0) rotate(0) scale(1);
  -ms-transform: translate(0, 0) rotate(0) scale(1);
  -o-transform: translate(0, 0) rotate(0) scale(1);
  transform: translate(0, 0) rotate(0) scale(1);
}

@font-face {
  font-family: 'awemmenu';
  src: url("../fonts/awemmenu.eot?pw77j9");
  src: url("../fonts/awemmenu.eot?pw77j9#iefix") format("embedded-opentype"), url("../fonts/awemmenu.ttf?pw77j9") format("truetype"), url("../fonts/awemmenu.woff?pw77j9") format("woff"), url("../fonts/awemmenu.svg?pw77j9#awemmenu") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="amm-"], [class*=" amm-"] {
  display: inline-block;
  font-family: 'awemmenu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amm-clear:before {
  content: "\e070";
}

.amm-bar:before {
  content: "\e20e";
}

.amm-down:before {
  content: "\e901";
}

.amm-left:before {
  content: "\e902";
}

.amm-right:before {
  content: "\e903";
}

.amm-up:before {
  content: "\e904";
}
