// Dependencies.
@import 'components/clearfix/clearfix';

// Tabs
//
// The primary and secondary tabs.
//
// Markup: tabs.twig
//
// .tabs--secondary - Secondary tabs
//
// Style guide: navigation.tabs

// Tabs (stacked)
//
// When the secondary tabs appear directly after the primary tabs, the styling
// is slightly different.
//
// Markup: tabs--stacked.twig
//
// Style guide: navigation.tabs.stacked

.tabs,
%tabs {
  @extend %clearfix;

  // The line height of a tab.
  $tab-height: 1.25;

  @include margin((2 - $tab-height) 0 0);
  @include line-height($tab-height);
  @if support-for(ie, 9) {
    // IE 9 and earlier don't understand gradients.
    border-bottom: 1px solid color(tabs-border) \0/ie;
  }
  background-image: linear-gradient(to top, color(tabs-border) 1px, transparent 1px);
  padding: 0 2px;
  list-style: none;
  white-space: nowrap;

  @media print {
    display: none;
  }

  &__tab {
    float: left;
    margin: 0 3px;
    border: 1px solid color(tabs-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // Allow the tabs gradient to appear just below the tab.
    border-bottom-color: transparent;
    @if support-for(ie, 9) {
      // IE 9 and earlier don't understand gradients.
      border-bottom: 0 \0/ie;
    }
    // Clip the background colors on tab links.
    overflow: hidden;
    background: color(tab-bg);

    @include rtl() {
      float: right;
    }

    &.is-active {
      // Cover the tabs gradient with the same color as the background.
      border-bottom-color: color(tabs-bg);
    }
  }

  &__tab-link {
    @include padding(0 1);
    display: block;
    text-decoration: none;
    transition: color .3s, background .3s, border .3s;
    text-shadow: color(tab-text-shadow) 0 1px 0;

    color: color(tab);
    background: color(tab-bg);
    letter-spacing: 1px;

    &:focus,
    &:hover {
      background: lighten(color(tab-bg), 5%);
    }

    &:active,
    &.is-active,
    &--is-active {
      background: color(tabs-bg);
      text-shadow: none;
    }
  }

  // Turns off .tabs styling.
  &--off {
    @include margin(0);
    @if support-for(ie, 9) {
      border-bottom: 0;
    }
    padding: 0;
    background-image: none;
  }

  &--secondary {
    @include margin-top(1);
    @include font-size(s);
    background-image: none;
  }

  // When secondary tabs appear directly after primary tabs.
  & + &--secondary {
    @include margin-top(0);
    background-image: linear-gradient(to top, color(tabs-border) 1px, transparent 1px);
  }

  &--secondary &__tab {
    @include margin((2 - $tab-height)/2 3px);
    border: 0;
    background: transparent;

    @include rtl() {
      float: right;
    }

    &.is-active {
      border-bottom-color: transparent;
    }
  }

  &--secondary &__tab-link {
    border: 1px solid color(tabs-border);
    border-radius: $base-line-height;
    color: color(tab-secondary);
    background: lighten(color(tab-bg), 8%);
    letter-spacing: normal;

    &:focus,
    &:hover {
      color: darken(color(tab-secondary), 20%);
      background: color(tab-bg);
      border-color: darken(color(tab-bg), 26.5%);
    }

    &:active,
    &.is-active,
    &--is-active {
      color: lighten(color(tab-bg), 15%);
      text-shadow: darken(color(tab-secondary), 20%) 0 1px 0;
      background: color(tab-secondary);
      border-color: darken(color(tab-secondary), 40%);
    }
  }
}

//
// Drupal selectors.
//

// Views mis-uses the theme hooks for tabs.
.views-displays .secondary {
  @extend %tabs--off;
}


/***************** WYSIWIG TABBER STYLES *********************/
.node-products {
	.field-name-body {
		background-color: white;
		border-radius: 10px;
		padding: 0 !important;
	}
}

@media screen and (min-width:500px) {
	.field-name-body {

		ul.ready-tabs {
			margin: 0;
			padding: 0;
			width: 100%;

			li.ready-tab {
				width: 33.33%;
				float: left;
				display: block;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				overflow: hidden !important;

				a {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					display: inline;
					float: left;
					margin: 0;
					padding: 0 5px 0 0;
					border: none;
					color: #5d5d5d;
					text-decoration: none;
					background-color: transparent;
					color: #5d5d5d;
					overflow: hidden;
				}

				h4 {
					font-family: "Source Sans Pro",sans-serif;
					font-size: 18px;
					font-weight: bold;
					line-height: 1.5rem;
					margin-bottom: .5rem;
					margin-top: .5rem;
					padding-left: 15px;
					color: #5d5d5d;
					overflow: hidden;
				}

				a:first-of-type {
					border-top-left-radius: 10px;
				}
			}

			li:last-child {
				border-right: none;
			}

			li.active {
				 border-bottom: none;
			}
		}

		.ready-tabber {
			border-top: none;
			padding: 0 20px;

			p {
				font-size: 18px;
			}

			img {
				padding: 20px 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@media screen and (max-width:499px) {
	.field-name-body {

		ul.ready-tabs {
			margin: 0;
			padding: 0;
			width: 100%;

			li.ready-tab {
				width: 33.33%;
				float: left;
				display: block;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				overflow: hidden !important;

				a {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					display: inline;
					float: left;
					margin: 0;
					padding: 0 5px 0 0;
					border: none;
					color: #5d5d5d;
					text-decoration: none;
					background-color: transparent;
					color: #5d5d5d;
					overflow: hidden;
				}

				h4 {
					font-family: "Source Sans Pro",sans-serif;
					font-size: 18px;
					font-weight: bold;
					line-height: 1.5rem;
					margin-bottom: .5rem;
					margin-top: .5rem;
					padding-left: 10px;
					color: #5d5d5d;
					overflow: hidden;
				}

				a:first-of-type {
					border-top-left-radius: 10px;
				}
			}

			li:last-child {
				border-right: none;
			}

			li.active {
				 border-bottom: none;
			}
		}

		.ready-tabber {
			border-top: none;
			padding: 0 20px;

			p {
				font-size: 18px;
			}

			img {
				padding: 20px 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

/****************** User Pages Tab Styling ****************/

.tabs {
    background-image: none;
    line-height: 1.5rem;
    list-style: outside none none;
    margin: 0.9rem 0 0;
    padding: 0;
    white-space: nowrap;

	.tabs__tab {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: transparent;
		border-image: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		display: block;
		border: 0;
		float: left;
		margin: 0;
		overflow: hidden;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		
		a.tabs__tab-link {
			background-color: #ffffff;
			color: #5d5d5d;
			display: block;
			letter-spacing: 1px;
			padding: 10px 1.2rem;
			text-decoration: none;
			text-shadow: none;
			transition: color 0.3s ease 0s, background 0.3s ease 0s, border 0.3s ease 0s;
		}
	}
	
	.tabs__tab:first-child {
		border-radius: 8px 0 0 0 ;
	}
	
	.tabs__tab:last-child {
		border-radius: 0 8px 0 0;
		border-right: 0px;
	}
	
	.tabs__tab.is-active {
		border-bottom: 1px solid #fff;
	}
}