// Font faces
//
// Instead of relying on the fonts that are available on a user's computer, you
// can use web fonts which, like images, are resources downloaded to the user's
// browser. Because of the bandwidth and rendering resources required, web fonts
// should be used with care.
//
// Numerous resources for web fonts can be found on Google. Here are a few
// websites where you can find Open Source fonts to download:
// - http://www.fontsquirrel.com/fontface
// - http://www.theleagueofmoveabletype.com
//
// In order to use these fonts, you will need to convert them into formats
// suitable for web fonts. We recommend the free-to-use Font Squirrel's
// Font-Face Generator:
//   http://www.fontsquirrel.com/fontface/generator
//
// The following is an example @font-face declaration. This font can then be
// used in any ruleset using a property like this:  font-family: Example, serif;
//
// Since we're using Sass, you'll need to declare your font faces here, then you
// can add them to the font variables in the _init.scss partial.

// @font-face {
//   font-family: 'Example';
//   src: url('../fonts/example.eot');
//   src: url('../fonts/example.eot?iefix') format('eot'),
//     url('../fonts/example.woff') format('woff'),
//     url('../fonts/example.ttf') format('truetype'),
//     url('../fonts/example.svg#webfontOkOndcij') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
//font-family: 'Source Sans Pro', sans-serif;

@font-face {
    font-family:'Black-Coffee-Regular';
    src:url('../fonts/black-coffee-regular/Black-Coffee-Regular.ttf.woff') format('woff'),
        url('../fonts/black-coffee-regular/Black-Coffee-Regular.ttf.svg#Black-Coffee-Regular') format('svg'),
        url('../fonts/black-coffee-regular/Black-Coffee-Regular.ttf.eot'),
        url('../fonts/black-coffee-regular/Black-Coffee-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/source-code-pro/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source-code-pro/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}