.field-name-body {
	
	.acc-head {
		width: 100%;
		float: left;
   	 	display: block;
    	padding: 15px;
		margin: 0;
		background-color: white;
		border-bottom: 1px solid #eeeeee;
		text-decoration: none;
		
		
		span.collapsed {
			width: 100%;
			display: block;
			color: #5d5d5d;
  	  		font-size: 1em;
    		font-weight: 600;
    		line-height: 1.5em;
    		text-decoration: none;
			background-image: url("../../../../../sites/default/files/search-arrow-closed.png");
    		background-position: right 10px center;
    		background-repeat: no-repeat;
		}
		
		span.expanded {
			width: 100%;
			display: block;
			color: #5d5d5d;
  	  		font-size: 1em;
    		font-weight: 600;
    		line-height: 1.5em;
    		text-decoration: none;
			background-image: url("../../../../../sites/default/files/search-arrow-open.png");
    		background-position: right 10px center;
    		background-repeat: no-repeat;
		}
	}
	
	.acc-head:first-of-type {
		border-radius: 8px 8px 0 0;
	}
	
	.acc-head:last-of-type {
		border-radius: 0 0 8px 8px;
	}
	
	.ready-accordion {
		background-color: #f8f8f8;
		margin: 0;
		padding: 20px 40px;
		display: block;
		overflow: hidden;
		font-weight: 100;
		line-height: 1.6em;
		font-size: 18px;
	}
}

