.view .views-fluid-grid .views-fluid-grid-list {
	width: 100%;
	
	@media screen and (min-width: 921px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 22.9%;
			margin: 0 0 20px 2.797%;
			padding: 0px;
		}
	}
	
	@media screen and (min-width: 521px) and (max-width: 920px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 48%;
			min-width: 250px;
			margin: 0.8%;
			padding: 0px;
		}
	}
	
	@media screen and (max-width: 520px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 96%;
			min-width: 250px;
			margin: 1.9%;
			padding: 0px;
		}
	}
	
	.views-field-field-media {
		display: block; 
		overflow: hidden;
		
		.file {
			display: block;
			margin: 15px 15px 0;
			max-width: 100%;
		}
	}
	
	.views-field-field-media img {
		display: block;
		border-radius: 8px;
	}
	
	.views-field-title, 
	.views-field-body,
	.views-field-body-et {
		display: block;
		overflow: hidden;
		padding: 0 15px;
		
		p {
			margin-top: 10px;
		}
	}
	
	.views-field-view-node {
		display: block;
		overflow: hidden;
		padding: 10px 10px 0;
		
		a {
			margin: 5px 0 10px;
		}
	}
		
	li.views-fluid-grid-item .views-field-title h2,
	.views-field-title-field-et h2 {
			text-align: center;
			
			a {
				color: #5d5d5d;
				text-decoration: none;
				text-align: center;
			}
		}
		
		.views-field-body h2,
		.views-field-body-et h2 {
			display: none;
		}
		
		.views-field-body, .views-field-body-et {
			text-align: center;
		}
		
		.views-field-view-node .field-content {
			text-align: center;
			
			a {
				text-transform: uppercase;
				font-weight: bold;
				display: block;
				color: #002d72;
				font-size: 20px;
				text-align: center;
				text-decoration: none;
			}
		}
	}
		

/******** TAXONOMY PAGES *****************/

.views-exposed-form {
	.collapsible-fieldset.is-collapsed, .collapsible-fieldset--is-collapsed, .is-collapsed.collapsible, .collapsible.collapsed {
		min-height: 20px;
		height: auto;
		
	}
	
}

.media-youtube-video {
		display: block;
		overflow: hidden;
}


.view-taxonomy-term .views-fluid-grid,
.view-all-recipes .views-fluid-grid, 
.view-flag-bookmarks .views-fluid-grid,
#block-views-recipes-block,
.view-empty {
	
	
	@media screen and (min-width: 921px){
		.views-fluid-grid-list {
			width: 77.1%;
			float: left;
			
			li.views-fluid-grid-item {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 30.3%;
				margin: 0 0 40px 2.6%;
				padding: 0px;
				-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);

				.responsive-video, .media-youtube-video, .media-vimeo-preview-wrapper {
					padding-top: 0px;
				}
			}
			li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
		}
	}
	
	@media screen and (min-width: 521px) and (max-width: 920px){
		.views-fluid-grid-list {
			width: 100%;
					
			li.views-fluid-grid-item {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 48%;
				min-width: 250px;
				margin: 0.8%;
				padding: 0px;
				-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);

				.responsive-video, .media-youtube-video, .media-vimeo-preview-wrapper {
					padding-top: 0px;
				}
			}
			
			li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
		}
	}
	
	@media screen and (max-width: 520px){
		.views-fluid-grid-list {
			width: 100%;
					
			li.views-fluid-grid-item {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 96%;
				min-width: 250px;
				margin: 1.9%;
				padding: 0px;
				-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
				box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);

				.responsive-video, .media-youtube-video, .media-vimeo-preview-wrapper, .media-youtube-1 {
					padding-top: 0px;
				}
			}
			li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
		}
	}
	
	.views-field-field-media {
		display: block; 
		overflow: hidden;
		
		.file {
			display: block;
			margin: 0;
			max-width: 100%;
		}
	}
	
	.views-field-field-media img {
		display: block;
		/*border-radius: 10px 10px 0 0;*/
		border-radius: 0px;
	}
	
	.views-field-title, .views-field-body {
		display: block;
		overflow: hidden;
		padding: 0 10px;
	}
	
	.views-field-title {
		margin: 2px 0 5px;
		text-transform: capitalize;
		
		a {
			text-decoration: none;
			font-weight: bold;
		}
	}
	
	form.fivestar-widget {
		padding: 0;
		margin-bottom: 10px;
	}
	
	.views-field-view-node {
		display: block;
		overflow: hidden;
		padding: 0 10px;
		
		a {
			margin: 5px 0 10px;
		}
	}
		
	li.views-fluid-grid-item .views-field-title h2 {
			text-align: center;
			
			a {
				color: #5d5d5d;
				text-decoration: none;
				text-align: center;
				font-size: 0.9em;
			}
		}
		
		.views-field-body h2 {
			display: none;
		}
		
		.views-field-body {
			text-align: center;
		}
		
		.views-field-view-node .field-content {
			text-align: center;
			
			a {
				text-transform: uppercase;
				font-weight: bold;
				display: block;
				color: #002d72;
				font-size: 1.2em;
				text-align: center;
				text-decoration: none;
		}
	}
}

.view-flag-bookmarks .views-fluid-grid {
	.views-field-field-media img {
		border-radius: 0px !important;
	}
	.views-field-field-media {
		display: block; 
		overflow: hidden;
		
		.file {
			margin: 0 !important;
		}
	
		.views-field-title {
			padding: 15px 15px 5px;
			
		}
	}
}

/************ Relative Products Grid Display ******************/
@media screen and (max-width: 920px){
	.view-related-items .views-fluid-grid .views-fluid-grid-list {
		padding-bottom: 75px;
	}
}

@media screen and (min-width: 921px){
.view-related-items .views-fluid-grid .views-fluid-grid-list {
	padding-bottom: 20px;
	}
}

.view-related-items .views-fluid-grid .views-fluid-grid-list {	
	@media screen and (min-width: 921px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 31.2%;
			margin: 0 0 5px 2.6%;
			padding: 0;
			-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
			-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
			box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
		}
		li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
		li.views-fluid-grid-item:first-child {
			margin: 0 0 5px 0;
		}
	}
	
	@media screen and (min-width: 521px) and (max-width: 920px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 48%;
			min-width: 250px;
			margin: 0.8%;
			padding: 0;
			-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
		-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
		box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
		}
		li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
	}
	
	@media screen and (max-width: 520px){
		li.views-fluid-grid-item {
			background-color: white;
			border: 0px;
			border-radius: 8px;
			width: 96%;
			min-width: 250px;
			margin: 1.9%;
			padding: 0px;
			-webkit-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
			-moz-box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
			box-shadow: 0px 27px 45px -50px rgba(0,0,0,0.59);
		}
		li.views-fluid-grid-item:hover {
				background-color: #002d72;
				
				.views-field-title a {
					color: white;
				}
			}
	}
	
	.views-field-field-media {
		display: block; 
		overflow: hidden;
		
		.file {
			display: block;
			margin: 0;
			max-width: 100%;
		}
	}
	
	.views-field-field-media img {
		display: block;
		border-radius: 10px 10px 0 0;
	}
	
	.views-field-title, .views-field-body {
		display: block;
		overflow: hidden;
		padding: 0 10px;
	}
	
	.views-field-title {
		margin: 15px 15px 7px 15px;
		font-size: 18px;
		padding: 0px;
		
		a {
			text-decoration: none;
			font-weight: bold;
		}
	}
	
	form.fivestar-widget {
		padding: 0 15px;
		margin-bottom: 15px;
	}
	
	.views-field-view-node {
		display: block;
		overflow: hidden;
		padding: 0 10px;
		
		a {
			margin: 5px 0 10px;
		}
	}
		
	li.views-fluid-grid-item .views-field-title h2 {
			text-align: center;
			
			a {
				color: #5d5d5d;
				text-decoration: none;
				text-align: center;
				font-size: 0.9em;
			}
		}
		
		.views-field-body h2 {
			display: none;
		}
		
		.views-field-body {
			text-align: center;
		}
		
		.views-field-view-node .field-content {
			text-align: center;
			
			a {
				text-transform: uppercase;
				font-weight: bold;
				display: block;
				color: #002d72;
				font-size: 1.2em;
				text-align: center;
				text-decoration: none;
			}
		}

}
@media screen and (min-width: 921px){
	
	
	.region-related-products {
		margin-top: 100px;
		margin-bottom: 220px;
	}
}

/***** DIRECTION STEPS IMAGES  ******/
@media screen and (min-width: 768px){
	.node-recipe .field-name-body img {
		width: 30%;
		margin: 1.55%;
		border-radius: 8px;
		float: left;
	}
}

@media screen and (min-width: 451px) and (max-width: 767px){
	.node-recipe .field-name-body img {
		width: 48%;
		margin: 1%;
		border-radius: 8px;
		float: left;
	}
}

@media screen and (max-width: 450px){
	.node-recipe .field-name-body img {
		width: 98%;
		margin: 1%;
		border-radius: 8px;
		float: left;
	}
}

/*************************** Homepage, Products & Tips/Tricks Page Grid ***************************/
.view-products, .view-tips-and-tricks, #block-views-homepage-features-block-1 {
	margin-bottom: 200px;
}

.views-field-field-favourite, 
.views-field-field-favourite-et {
			margin: 0 15px;
			
			.form-item {
				margin: 0 0 15px 0;
			}
		}
.view-products .views-fluid-grid .views-fluid-grid-list li.views-fluid-grid-item:hover, 
.view-products.views-fluid-grid .views-fluid-grid-list li.views-fluid-grid-item:hover {
	
	.views-field-title h2 a,
	.views-field-title-field-et h2 a {
		text-decoration: underline !important;
	}
}

.view-homepage-features .views-fluid-grid .views-fluid-grid-list li.views-fluid-grid-item:hover {
	
	.views-field-view-node a {
		text-decoration: underline !important;
	}
}

.view-products, .view-tips-and-tricks, .view-homepage-features {
	
	

	.views-fluid-grid .views-fluid-grid-list {
		width: 100%;

		@media screen and (min-width: 921px){
			li.views-fluid-grid-item.view-row-1,
			li.views-fluid-grid-item:nth-child(3n+1) {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 31.266%;  /**** Sized perfect on Product grid ***/
				min-width: 250px;
				margin: 0 1.315% 35px 0;
				padding: 0px;
			}
			li.views-fluid-grid-item.view-row-2,
			li.views-fluid-grid-item:nth-child(3n+2) {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 31.266%;   /**** Sized perfect on Product grid ***/
				min-width: 250px;
				margin: 0 1.315% 35px 1.315%;
				padding: 0px;
			}
			li.views-fluid-grid-item.view-row-3,
			li.views-fluid-grid-item:nth-child(3n+3) {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 31.266%;    /**** Sized perfect on Product grid ***/
				min-width: 250px;
				margin: 0 0 35px 1.315%;
				padding: 0px;
			}
		}

		@media screen and (min-width: 521px) and (max-width: 920px){
			li.views-fluid-grid-item {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 48%;
				min-width: 250px;
				margin: 0.8%;
				padding: 0px;
			}
		}

		@media screen and (max-width: 520px){
			li.views-fluid-grid-item {
				background-color: white;
				border: 0px;
				border-radius: 8px;
				width: 96%;
				min-width: 250px;
				margin: 1.9%;
				padding: 0px;
			}
		}

		.views-field-field-image, .views-field-nothing {
			display: block;
			margin: 15px 15px 0;
			max-width: 100%;
			
			.field-content {
				border-radius: 8px;
				display: block;
				overflow: hidden;
				
				img {
					display: block;
					margin: 0px;
					padding: 0px;
				}
			}
			
		}

		.views-field-title, .views-field-title-field-et {
			display: block;
			overflow: hidden;
			padding: 23px 15px 0;  /**0 bottom for homepage blocks - pad top of next block**/
			text-align: center;
			font-family: "Black-Coffee-Regular",sans-serif;
			font-size: 36px;  /***36px for homepage blocks **/
			line-height: 1.2em;
		}
			
			h2 {
				margin: 0px 0 15px;  /** not good for product list **/
			}

			a {
				text-decoration: none;
				color: #5d5d5d;
			}
	}
	
	@media screen and (min-width: 641px){
		.view-filters {
			margin-bottom: 25px;

			#edit-tid-wrapper {
				background-color: white;
				border-radius: 8px;
				width: 100%;
				overflow: hidden;
				margin-top: 70px;

				.form-type-bef-link {
					display: block;
					width: 20%;
					float: left;
					text-align: center;
					border-right: 1px solid #dddddd;

					a {
						font-size: 24px;
						color: #5d5d5d;
						font-weight: normal;
						padding: 15px 0;
						text-decoration: none;
						display: block;
					}

					a.active {
						font-size: 24px;
						color: #002d72;
						font-weight: bold;
						padding: 15px 0;
						display: block;
						background-color: #ffdb00
					}
				}

				.form-type-bef-link:nth-last-child(1) {
					border-right: 0px;
				}
			}
		}
	}
	
	@media screen and (max-width: 640px){
		.view-filters {
			margin-bottom: 25px;

			.views-exposed-widget {
				background-color: white;
				border-radius: 8px;
				width: 100%;
				overflow: hidden;

				.form-type-bef-link {
					display: block;
					width: 100%;
					text-align: center;
					border-right: 0px;
					border-bottom: 1px solid #dddddd;

					a {
						font-size: 24px;
						color: #5d5d5d;
						font-weight: normal;
						padding: 15px 0;
						text-decoration: none;
						display: block;
					}

					a.active {
						font-size: 24px;
						color: #002d72;
						font-weight: bold;
						padding: 15px 0;
						display: block;
						background-color: #ffdb00
					}
				}

				.form-type-bef-link:nth-last-child(1) {
					border-right: 0px;
					border-bottom: 0px;
				}
			}
		}
	}
}

/************ Homepage Special Styling ******************/
.view-homepage-features {

	.views-field-view-node {
		padding-top: 0px;

		a {
			margin: 0 0 10px;
		}
	}
	
	.views-field-body-et {
		ol {
			padding-left: 0px;

			li {
				list-style: none;
				line-height: 1.4rem;
			}

			p { line-height: 1.4rem; }
		}
		
		p {
			font-size: 18px;
			margin-bottom: 5px;
			line-height: 1.4rem;
		}
	}

		.responsive-video, .media-youtube-video, .media-vimeo-preview-wrapper {
			padding-top: 0px;
			border-radius: 8px;
			display: block;
			overflow: hidden;
		}
	}

/**************** MY RECIPE BOOK ********************/

#block-block-10 {
	h2 {
		font-size: 45px;
	}
}

#block-block-16 {
	h2 {
		font-size: 45px;
		margin-top: 75px;
	}
}

#block-views-user-information-block,
#block-views-user-information-block-1 {
	h2.block__title {
		display: none;
	}
	
	.view-user-information {
		margin-top: 85px;
		
		.views-field-name, .views-field-mail, .views-field-nothing-1 {
			padding-bottom: 20px;
			
			.views-label {
				font-weight: 100;
				font-size: 18px;
			}
			.field-content {
				font-weight: bold;
				font-size: 18px;
			}
		}
	}
}

/************* WHERE TO BUY *****************/

.node-61 {
	.prov-title {
		border-bottom: 1px solid #5d5d5d;
		width: 100%;
		float: left;
		
	}
	
	img {
		display: block;
		float: left;
		background-color: white;
		border-radius: 8px;
		margin: 10px;
		width: 170px;
		height: 170px;
	}
	
	.missing-retail-logo {
		display: block;
		float: left;
		background-color: white;
		border-radius: 8px;
		padding: 5px;
		margin: 10px;
		width: 170px;
		height: 170px;
		p {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			margin: 0px;
			padding: 0px;
		}
	}
	ul {
		width: 100%;
		float: left;
	}
}