/* Scss Document */

.node-tips-and-tricks {
	
	.field-collection-container{
		border-bottom: 0px;
		margin-bottom: 100px;
	}
	
	.field-collection-view {
		margin: 15px 0;
		
		.field-name-field-media {
			/*float: left;*/  /**** causes large images in IE ******/
			margin-right: 2.63%;
			padding: 0px;
			
			.field-item {
				margin-bottom: 35px;

				img { 
					display: block;
					border-radius: 8px;
				}
			}
			
		}
		
		.field-name-field-text {
			float: none;
			
		}
	}
	
	@media screen and (min-width: 600px) {
		.field-collection-container {
			.field-name-field-steps > .field-items > .field-item.even {
				float: left;
				width: 48.5%;
				display: block;
				overflow: hidden;
				clear: both;
				
				img {
					max-width: 100%;
    				height: auto;
   					width: auto\9;
				}
			}

			.field-name-field-steps > .field-items > .field-item.odd {
				float: right;
				width: 48.5%;
				display: block;
				overflow: hidden;
				
				img {
					max-width: 100%;
    				height: auto;
   					width: auto\9;
				}
			}
			
			
		}
	}
}