// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';
@import 'init/colors';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header
.login-hat-icon {
	float: left;
	margin: 10px 17px 10px 0;
	width: 60px;
	height: 62px;
	background: url('/sites/default/files/tenderflake-icon-60x.png') no-repeat;
}
@media screen and (min-width:600px) {
	.view-homepage-background-image-slider { 
		.views-slideshow-cycle-main-frame-row {
			width: 100% !important;
			height: auto !important;
			.views-slideshow-cycle-main-frame-row-item {
				.media-youtube-video {
					padding: 0;
					height: auto;
				}
			}
		}
	}
	.region-homepg-bkg {
		position: relative;
		z-index: 0;
		width: 100%;
	}
}

@media screen and (max-width:599px) {
		.region-homepg-bkg {
		float: left;
		width: 100%;
	}
}

.bg-video-link {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

@media screen and (max-width:450px) {
	.video-sound {
		display: block;
		position: absolute;
		right: 5%;
		bottom: 2%;
		width: 35%;
		height: 39px;
		background: url(../images/click-for-sound.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
	
	.i18n-fr .video-sound {
		display: block;
		position: absolute;
		right: 5%;
		bottom: 2%;
		width: 35%;
		height: 39px;
		background: url(../images/click-for-sound-fr.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
}

@media screen and (min-width:451px) and (max-width:849px) {
	.video-sound {
		display: block;
		position: absolute;
		right: 5%;
		bottom: 2%;
		width: 28%;
		height: 39px;
		background: url(../images/click-for-sound.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
	
	.i18n-fr .video-sound {
		display: block;
		position: absolute;
		right: 5%;
		bottom: 2%;
		width: 35%;
		height: 39px;
		background: url(../images/click-for-sound-fr.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
}


@media screen and (min-width:850px) {
	.video-sound {
		display: block;
		position: absolute;
		right: 12%;
		bottom: 2%;
		width: 256px;
		height: 45px;
		background: url(../images/click-for-sound.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
	
	.i18n-fr .video-sound {
		display: block;
		position: absolute;
		right: 12%;
		bottom: 2%;
		width: 374px;
		height: 45px;
		background: url(../images/click-for-sound-fr.png) no-repeat;
		z-index: 50;
		text-decoration: none;
		max-width: 40%;
		background-size: 100%;
	}
}

.bkg-image-rotation { 
	z-index: 0;
	
	.region-homepg-bkg {
		
			img {
				width: 100% !important;
				height: auto;
				display: block;
				} 
		}
	
	.login-block {
		@extend %clearfix;
		width: 100%;
		display: block;
		float: left;
		height: 50px;
		z-index: 100;
		position: absolute;
		top: 0;
		
		.login-container {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
			
			.login-eng {
				max-width: 245px;
			}
			
			.login-fr {
				max-width: 310px;
			}
			
			.logcont {
				float: left;
				margin: 0;
				padding: 0;
			}
			
			#block-block-1,
			#block-block-17 {
				background-color: #002d72;
				border: solid white;
				border-width: 0 5px 5px;
				border-radius: 0 0 10px 10px;
				margin: -5px 0 0;
				padding: 0;
				float: right;
				-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				z-index: 200;
			
				h2 { 
					margin: 20px 8px 0 22px;
					color: #ffdb00;
					float: left;
					font-size: 35px; 
					line-height: 1.5rem;
				}
				
				h2 a {
					color: #ffdb00;
					text-decoration: none;
				}
				h2 a:hover, h2 a:active { color: #fff5dd; }
				
				div.content {
					float: right;
					display: inline;
				}
				p {
					/*float: left;
					clear: left;*/
					margin: 0 8px 5px 22px;
					font-size: 14px;
					font-weight: bold;
					line-height: 1rem;
					clear:both;
				}
				p a {
					text-decoration: none;
					color: white;
					font-weight: bold;
					float: none !important;
					clear: none !important;
					display: inline !important;
				}
			}
			
			#block-locale-language-content {
				float: right;
				
				h2.block__title {
						display: none;
					}
				
				.language-switcher-locale-url {
					margin: 0;
				

					li.active {
						display: none;
					}

					li {
						display: block;
					}

					li a {
						color: $blue;
						font-weight: bold;
						margin-right: 20px;
						font-size: 16px;
					}
				}
			}
		}
	}

@media screen and (min-width:600px) {	
	.header,
	%header {
		background-color: rgba(255, 219, 0, .7);
		float: left;
		width: 100%; 
		z-index: 90;
		position: absolute !important;
		top:0;

		.logo-container {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
		}

		.views-field-field-background-image img {
			width: 100%;
			height: auto;
		}


	  // Wrapping link for logo.
	  &__logo {
		max-width: 325px;
		margin: 15px auto;
		  display: block;

		@include rtl() {
		  float: right;
		  margin: 0 0 0 10px;
		}
	  }

	  // Logo image.
	  &__logo-image {
		vertical-align: top;
	  }

	  // The secondary menu (login, etc.)
	  &__secondary-menu {
		float: right;

		@include rtl() {
		  float: left;
		}
	  }

	  // Wrapper for any blocks placed in the header region.
	  &__region {
		// Clear the logo.
		clear: both;
	  }
	}
}
	
@media screen and (max-width:849px) {	
	.header,
	%header {
		background-color: rgba(255, 219, 0, .7);
		float: left;
		width: 100%; 
		z-index: 90;
		top:0;

		.logo-container {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
		}

		.views-field-field-background-image img {
			width: 100%;
			height: auto;
		}


	  // Wrapping link for logo.
	  &__logo {
		max-width: 325px;
		margin: 15px 20px;
		  display: block;
		  width: 60%;
		  float: left;

		@include rtl() {
		  float: right;
		  margin: 0 0 0 10px;
		}
	  }

	  // Logo image.
	  &__logo-image {
		vertical-align: top;
	  }

	  // The secondary menu (login, etc.)
	  &__secondary-menu {
		float: right;

		@include rtl() {
		  float: left;
		}
	  }

	  // Wrapper for any blocks placed in the header region.
	  &__region {
		// Clear the logo.
		clear: both;
	  }
		
		
	}
		.region-navigation {
			float: right;
			margin-top: 7%;
			width: 100%;
			position: absolute;
			
			.awemenu-bars .amm-bar {
    			color: #002d72;
    			float: right;
    			font-size: 32px;
    			margin-right: 20px;
			}
		}
}
}  
/********** 	END BACKGROUND IMAGE ROTATION HEADER AREA  *************/



.regpage {
		.login-block {
		@extend %clearfix;
		width: 100%;
		display: block;
		float: left;
		height: 50px;
		z-index: 100;
		position: absolute;
		
		.login-container {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
			
			.login-eng {
				min-width: 245px;
			}
			
			.login-fr {
				min-width: 310px;
			}
			
			.logcont {
				float: left;
				margin: 0;
				padding: 0;
			}
			
			#block-block-1,
			#block-block-17 {
				background-color: #002d72;
				border: solid white;
				border-width: 0 5px 5px;
				border-radius: 0 0 10px 10px;
				margin: -5px 0 0;
				padding: 0;
				float: right;
				-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
				z-index: 200;
			
				h2 { 
					margin: 20px 8px 0 22px;
					color: #ffdb00;
					float: left;
					font-size: 35px; 
					line-height: 1.5rem
				}
				
				h2 a {
					color: #ffdb00;
					text-decoration: none;
				}
				h2 a:hover, h2 a:active { color: #fff5dd; }
				
				div.content {
					float: right;
					display: inline;
				}
				p {
					/*float: left;
					clear: left;*/
					margin: 0 8px 5px 22px;
					font-size: 14px;
					font-weight: bold;
					line-height: 1rem;
					clear: both;
				}
				p a {
					text-decoration: none;
					color: white;
					font-weight: bold;
					float: none !important;
					clear: none !important;
					display: inline !important;
				}
			}
			
			#block-locale-language-content {
				float: right;
				
				h2.block__title {
						display: none;
					}

				
				.language-switcher-locale-url {
					margin: 0;
				

					li.active {
						display: none;
					}

					li {
						display: block;
					}

					li a {
						color: $blue;
						font-weight: bold;
						margin-right: 20px;
						font-size: 16px;
					}
				}
			}
		}
	}

	.header,
	%header {
	@extend %clearfix;
	background-color: rgba(255, 219, 0, .7);
	float: left;
	width: 100%; 
	z-index: 90;
	position: inherit;
	top:0;
	
		.logo-container {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
		}

		.views-field-field-background-image img {
			width: 100%;
			height: auto;
		}


	  // Wrapping link for logo.
	  &__logo {
		max-width: 325px;
		margin: 15px auto;
		  display: block;

			@include rtl() {
			  float: right;
			  margin: 0 0 0 10px;
			}

			.layout-3col {
				  margin-top: 100px;
			  }
		}

	  // Logo image.
	  &__logo-image {
		vertical-align: top;
	  }

	  // The secondary menu (login, etc.)
	  &__secondary-menu {
		float: right;

			@include rtl() {
			  float: left;
			}
	  }

	  // Wrapper for any blocks placed in the header region.
	  &__region {
		// Clear the logo.
		clear: both;
	  }
	}
}

@media screen and (min-width: 1021px){
	.header,
	%header {
	margin-top: 40px;
	}
	
	#block-locale-language-content ul li {
		margin-top: 6px;
	}
}

@media screen and (min-width: 849px) and (max-width: 1020px){
	.header,
	%header {
	margin-top: 70px;
	}
	
	#block-locale-language-content ul li {
		margin-top: 16px;
	}
}

@media screen and (max-width: 849px){
	.header,
	%header {
		margin-top: 70px;
		
		&__logo {
		max-width: 325px;
		margin: 15px 20px;
		  display: block;
		  width: 60%;
		  float: left;
		}
	}
	
	.login-hat-icon {
		float: left;
		margin: 10px 17px 10px 0;
		width: 45px;
		height: 47px;
		background: url('/sites/default/files/tenderflake-icon-45x.png') no-repeat;
		background-size: auto auto;
	}
	
	#block-locale-language-content ul {
		margin: 0px;
		padding: 5px;
		
		li {
			margin-top: 16px;
		}
	}
	
	#block-block-1,
	#block-block-17 {
		background-color: #002d72;
		border: solid white;
		border-width: 0 5px 5px;
		border-radius: 0 0 10px 10px;
		margin: -5px 0 0;
		padding: 0;
		float: right;
		-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
		-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
		box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.59);
		z-index: 200;
	}
		
		.bkg-image-rotation .login-block .login-container #block-block-1 h2, .bkg-image-rotation .login-block .login-container #block-block-17 h2 { 
			font-size: 20px; 
			line-height: 1em;
			}	
	
		.bkg-image-rotation .login-block .login-container #block-block-1 p a, .bkg-image-rotation .login-block .login-container #block-block-17 p a {
			float: left;
			clear: left;
			margin: 2px 5px 5px 0;
			font-size: 14px;
		}
	
		.region-navigation {
			float: right;
			margin-top: 7%;
			width: 100%;
			position: absolute;
			
			.awemenu-bars .amm-bar {
    			color: #002d72;
    			float: right;
    			font-size: 32px;
    			margin-right: 20px;
			}
		}
}


@media screen and (min-width: 851px) {
	.region-highlighted {
		float: left;
		
		.quote-container {
			width: 100%;
			max-width: 1140px;
			padding: 90px 0;
			display: block;
			overflow: hidden;
			margin: 0 auto;
			
			.quote {
				float: left;
				padding-left: 12px;
				width: 15%;
				
				img {
					max-width: 100%;
					height: auto;
				}
			}
			

		}
	}
	.quote-text {
		float: left;
		width: 80%;
		padding: 20px 4% 20px 1%;

		p { 
			color: white;
			font-size: 32px;
			line-height: 1.3em;
		}

		h3 {
			font-size: 52px;
		}

		h2, h3, h4, h5, h6 {
			color: white;
			text-align: right;
		}
	}
}

@media screen and (max-width: 850px) {
	.region-highlighted {
		float: left;
		
		.quote-container {
			width: 100%;
			max-width: 1140px;
			padding: 70px 0;
			display: block;
			overflow: hidden;
			margin: 0 auto;
			
			.quote {
				float: left;
				padding-left: 12px;
				width: 15%;
				
				img {
					max-width: 100%;
					height: auto;
				}
			}
			

		}
	}
	.quote-text {
		float: left;
		width: 80%;
		padding: 0 4% 20px 0;

		p { 
			color: white;
			font-size: 25px;
			line-height: 1.3em;
		}

		h3 {
			font-size: 41px;
		}

		h2, h3, h4, h5, h6 {
			color: white;
			text-align: right;
		}
	}
}
// slideshow responsive 
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}



/****** Slider navigation *****/

@media screen and (min-width: 600px){
	.views-slideshow-controls-bottom {
		width: 100%;
		text-align: center;

		.views-slideshow-pager-fields .active {
				text-decoration: none !important;
			}

		#widget_pager_bottom_homepage_background_image_slider-block_1 {
			display: block;
			float: left;
			z-index: 999;
			position:absolute;
			bottom: 0;
			left: 10%;
			margin-left: 0;
			height: 50px;
			content: '';

			a { text-decoration: none; }

			.views-slideshow-pager-field-item a {
				padding: 5px 9px;
				border-radius: 30px;
				color: transparent;
				background-color: rgba(255,255,255,0.85);
				margin: 5px;	
				margin-bottom: 20px;
				text-decoration: none;
				font-size: 10px;

			}

			.views-slideshow-pager-field-item.active a {
				padding: 5px 9px;
				border-radius: 30px;
				color: transparent;
				background-color: rgba(255,219,0,0.85);
				margin: 5px;	
				margin-bottom: 20px;
				text-decoration: none;
				font-size: 10px;
			}
		}
	}
}

@media screen and (max-width: 599px){
	.views-slideshow-controls-bottom {
		width: 100%;
		text-align: center;

		.views-slideshow-pager-fields .active {
				text-decoration: none !important;
			}

		#widget_pager_bottom_homepage_background_image_slider-block_1 {
			display: block;
			float: left;
			z-index: 999;
			position:absolute;
			bottom: 0;
			left: 10%;
			margin-left: 0;
			height: 40px;
			content: '';

			a { text-decoration: none; }

			.views-slideshow-pager-field-item a {
				padding: 5px 8px;
				border-radius: 30px;
				color: transparent;
				background-color: rgba(255,255,255,0.85);
				margin: 5px 0 10px 0;
				text-decoration: none;
				font-size: 7px;

			}

			.views-slideshow-pager-field-item.active a {
				padding: 5px 8px;
				border-radius: 30px;
				color: transparent;
				background-color: rgba(255,219,0,0.85);
				margin: 5px 0 10px 0;	
				text-decoration: none;
				font-size: 7px;
			}
		}
	}
}

