// Dependencies.
@import 'components/clearfix/clearfix';
@import 'init/colors';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

@media screen and (min-width:600px) {
	footer, .footer {
		float: left;
		Width: 100%;
		background-color: #002d72;
		background-image: url('/sites/default/files/tenderflake-footr-bkg.png');
		background-repeat: repeat-x repeat-y;
		padding: 30px 0 70px;
		.block {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
		}
		h1, h2, h3, h4, h5, h6, p, a { 
			color: white; 
			margin: 0;
			text-decoration: none;
			text-align: center;
		}

		h2.social-icons {
			font-size: 56px;
		}
		a:hover {
			color: #ffdb00;
		}
	}
}

@media screen and (max-width:599px) {
	footer, .footer {
		float: left;
		Width: 100%;
		background-color: #002d72;
		background-image: url('/sites/default/files/tenderflake-footr-bkg.png');
		background-repeat: repeat-x repeat-y;
		padding: 30px 0 70px;
		.block {
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
		}
		h1, h2, h3, h4, h5, h6, p, a { 
			color: white; 
			margin: 0;
			text-decoration: none;
			text-align: center;
		}

		h2.social-icons {
			font-size: 40px;
		}
		a:hover {
			color: #ffdb00;
		}
	}
}

@media screen and (max-width: 1140px) {
	.footer {
		h1, h2, h3, h4, h5, h6, p {
			margin-left: 13px; 
			margin-right: 13px;
		}
	}
}

.region-bottom {
	float: left;
	width: 100%;
	background-color: rgba(255, 219, 0, .7);
	p, a { 
		color: #002d72;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
	}
	p { margin: 15px 0; }
}

.region-page-bottom {
	float: left;
	width: 100%;
}